static/source/jade/html/pages/pageNews/pageNews.jade
block vars
    - var title='Title'

extends ../../partials/layout
block content

    .grid.width-wrap.bg-aside

        include ../../partials/aside

        section.three-fourth.grid-item.page-content.margin-left

            h1 Новости

            ul.news-list
                li.news-list__el
                    time(datetime = "2015-04-22").news-date 22 апреля 2015
                    a(href = "").news-link Изменения в условиях программы
                    .news-text
                        | Уважаемые дамы и господа!
                        | Подразделение Beauty Care Professional ООО &laquo;Хенкель Рус&raquo; пользуется случаем выразить Вам свое почтение и&nbsp;информирует Вас об&nbsp;увеличении минимальной квартальной закупки салона для каждого уровня программы PH&nbsp;Club c&nbsp;1&nbsp;июля 2015&nbsp;года.

                li.news-list__el
                    time(datetime = "2015-04-22").news-date 22 апреля 2015
                    a(href = "").news-link Открыта возможность заказов по результатам 3 квартала 2013 года
                    .news-text
                        p Коллеги, рады сообщить, что открыта возможность совершения заказов на подарки.
                        p Не&nbsp;забывайте указывать в&nbsp;комментариях цвет изделия и&nbsp;свои пожелания относительно времени доставки. Перед заказом проверьте адрес, указанный в&nbsp;личном кабинете. Именно на&nbsp;него курьерская служба доставит ваши бонусные подарки.
                        p Хороших и качественных покупок!

                li.news-list__el
                    time(datetime = "2015-04-22").news-date 22 апреля 2015
                    a(href = "").news-link Вносите информацию по закупкам онлайн
                    .news-text
                        p Информацию по закупкам салонов теперь можно вносить в удобной форме на сайте.


    script(type="text/javascript") $(function(){$.pixlayout({src: "/static/img/temp/news.jpg", opacity: 0.5, top: -70, left: -177, center: false, clip: true, show: false }) })

static/html/pages/pageNews/pageNews.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <script src="/static/js/app-common.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/jquery.pixlayout.0.9.6.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header">
        <div class="width-wrap justifyed">
          <div class="header-logo"><a href=""><img src="/static/img/logo-ph.png" alt class="header-logo-hp"></a><img src="/static/img/logo-sch.png" alt class="header-logo-sch"></div><a href="tel:88005006340" class="header-phone">+7 800 500 63 40</a><span class="header-adress">Москва, Колокольников пер., 11</span><a href="" class="header-download main-nav__el-pdf">Ознакомиться с каталогом продукции</a>
        </div>
      </header>
      <div class="grid width-wrap bg-aside">
        <aside class="grid-item one-fourth aside"><span class="aside-lk">Личный кабинет</span>
          <div class="aside-status"><span>Салон красоты "Афродита"</span><img src="/static/img/icon--status-slv.png" alt></div>
          <div class="aside-links">
            <div><a href="#">Редактировать профиль</a></div>
            <div><a href="#">Выйти</a></div>
          </div>
          <div class="aside-bill"><span class="aside-bill-title">Мой счет</span>
            <div class="aside-bill--point"><span class="aside-bill--point-value"><strong>5 206</strong>баллов</span><a href="">Взять баллы в кредит</a></div>
            <div class="aside-bill--rub"><span class="aside-bill--rub-value"><strong>124 600</strong>руб.</span><a href="">Закупки в этом квартале</a></div>
          </div>
          <ul class="aside-nav">
            <li class="aside-nav__el current"><a href="">Каталог</a></li>
            <li class="aside-nav__el aside-nav__el-basket"><a href="">Корзина<span>23</span></a></li>
            <li class="aside-nav__el"><a href="">Заказы</a></li>
            <li class="aside-nav__el"><a href="">Новости<span>1</span></a></li>
            <li class="aside-nav__el"><a href="">Условия программы</a></li>
          </ul>
        </aside>
        <section class="three-fourth grid-item page-content margin-left">
          <h1>Новости</h1>
          <ul class="news-list">
            <li class="news-list__el">
              <time datetime="2015-04-22" class="news-date">22 апреля 2015</time><a href="" class="news-link">Изменения в условиях программы</a>
              <div class="news-text">
                Уважаемые дамы и господа!
                Подразделение Beauty Care Professional ООО &laquo;Хенкель Рус&raquo; пользуется случаем выразить Вам свое почтение и&nbsp;информирует Вас об&nbsp;увеличении минимальной квартальной закупки салона для каждого уровня программы PH&nbsp;Club c&nbsp;1&nbsp;июля 2015&nbsp;года.
              </div>
            </li>
            <li class="news-list__el">
              <time datetime="2015-04-22" class="news-date">22 апреля 2015</time><a href="" class="news-link">Открыта возможность заказов по результатам 3 квартала 2013 года</a>
              <div class="news-text">
                <p>Коллеги, рады сообщить, что открыта возможность совершения заказов на подарки.</p>
                <p>Не&nbsp;забывайте указывать в&nbsp;комментариях цвет изделия и&nbsp;свои пожелания относительно времени доставки. Перед заказом проверьте адрес, указанный в&nbsp;личном кабинете. Именно на&nbsp;него курьерская служба доставит ваши бонусные подарки.</p>
                <p>Хороших и качественных покупок!</p>
              </div>
            </li>
            <li class="news-list__el">
              <time datetime="2015-04-22" class="news-date">22 апреля 2015</time><a href="" class="news-link">Вносите информацию по закупкам онлайн</a>
              <div class="news-text">
                <p>Информацию по закупкам салонов теперь можно вносить в удобной форме на сайте.</p>
              </div>
            </li>
          </ul>
        </section>
      </div>
      <script type="text/javascript">$(function(){$.pixlayout({src: "/static/img/temp/news.jpg", opacity: 0.5, top: -70, left: -177, center: false, clip: true, show: false }) })</script>
      <div class="psevdofooter"></div>
    </div>
    <footer class="footer">
      <div class="width-wrap">
        <div class="footer-banner"><span class="footer-banner-title">Всегда вместе.<i>Страсть к профессии</i></span><a href=""><img src="/static/img/img--banner-1.png" alt></a><a href=""><img src="/static/img/img--banner-2.png" alt></a><a href=""><img src="/static/img/img--banner-3.png" alt></a></div>
        <div class="footer-info"><a class="footer-info-made"><span>сделано в</span><img src="/static/img/logo-promo.png" alt></a><span class="footer-info-copyright">© 2015 Schwarzkopf Professional</span></div>
      </div>
    </footer>
  </body>
</html>
