static/source/jade/html/pages/pageNews/pageNews-item.jade
block vars
    - var title='Title'

extends ../../partials/layout
block content

    .grid.width-wrap.bg-aside

        include ../../partials/aside

        section.three-fourth.grid-item.page-content.margin-left

            a.breadcrumbs.btn Новости

            article.news-post
                h1 Изменения в условиях программы

                time(datetime = "2013-10-28").news-date 28 октября 2013

                p Уважаемые дамы и господа!
                p Подразделение
                    a(href="") Beauty Care Professional
                    |    ООО &laquo;Хенкель Рус&raquo; пользуется случаем выразить Вам свое почтение и&nbsp;информирует Вас об&nbsp;увеличении минимальной квартальной закупки салона для каждого уровня программы PH&nbsp;Club c&nbsp;1&nbsp;июля 2015&nbsp;года.

                p Новые уровни закупки:

                table
                    tr
                        th Бонусный уровень
                        th Максимальный суммарный объем
                            br
                            |закупок продукции, руб. с НДС
                        th Бонусные баллы
                            br
                            |за каждую 1000 руб. с НДС
                    tr
                        td Silver
                        td 100 000 - 120 000
                        td 30
                    tr
                        td Gold
                        td 120 001 - 160 000
                        td 50
                    tr
                        td Platinum
                        td 160 001 - 210 000
                        td 70
                    tr
                        td Diamond
                        td 210 001 и более
                        td 100

                | С уважением, команда  Beauty Care Professional

    script(type="text/javascript") $(function(){$.pixlayout({src: "/static/img/temp/news_item.jpg", opacity: 0.5, top: -70, left: -177, center: false, clip: true, show: false }) })

static/html/pages/pageNews/pageNews-item.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <script src="/static/js/app-common.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/jquery.pixlayout.0.9.6.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header">
        <div class="width-wrap justifyed">
          <div class="header-logo"><a href=""><img src="/static/img/logo-ph.png" alt class="header-logo-hp"></a><img src="/static/img/logo-sch.png" alt class="header-logo-sch"></div><a href="tel:88005006340" class="header-phone">+7 800 500 63 40</a><span class="header-adress">Москва, Колокольников пер., 11</span><a href="" class="header-download main-nav__el-pdf">Ознакомиться с каталогом продукции</a>
        </div>
      </header>
      <div class="grid width-wrap bg-aside">
        <aside class="grid-item one-fourth aside"><span class="aside-lk">Личный кабинет</span>
          <div class="aside-status"><span>Салон красоты "Афродита"</span><img src="/static/img/icon--status-slv.png" alt></div>
          <div class="aside-links">
            <div><a href="#">Редактировать профиль</a></div>
            <div><a href="#">Выйти</a></div>
          </div>
          <div class="aside-bill"><span class="aside-bill-title">Мой счет</span>
            <div class="aside-bill--point"><span class="aside-bill--point-value"><strong>5 206</strong>баллов</span><a href="">Взять баллы в кредит</a></div>
            <div class="aside-bill--rub"><span class="aside-bill--rub-value"><strong>124 600</strong>руб.</span><a href="">Закупки в этом квартале</a></div>
          </div>
          <ul class="aside-nav">
            <li class="aside-nav__el current"><a href="">Каталог</a></li>
            <li class="aside-nav__el aside-nav__el-basket"><a href="">Корзина<span>23</span></a></li>
            <li class="aside-nav__el"><a href="">Заказы</a></li>
            <li class="aside-nav__el"><a href="">Новости<span>1</span></a></li>
            <li class="aside-nav__el"><a href="">Условия программы</a></li>
          </ul>
        </aside>
        <section class="three-fourth grid-item page-content margin-left"><a class="breadcrumbs btn">Новости</a>
          <article class="news-post">
            <h1>Изменения в условиях программы</h1>
            <time datetime="2013-10-28" class="news-date">28 октября 2013</time>
            <p>Уважаемые дамы и господа!</p>
            <p>Подразделение<a href="">Beauty Care Professional</a>   ООО &laquo;Хенкель Рус&raquo; пользуется случаем выразить Вам свое почтение и&nbsp;информирует Вас об&nbsp;увеличении минимальной квартальной закупки салона для каждого уровня программы PH&nbsp;Club c&nbsp;1&nbsp;июля 2015&nbsp;года.</p>
            <p>Новые уровни закупки:</p>
            <table>
              <tr>
                <th>Бонусный уровень</th>
                <th>Максимальный суммарный объем<br>закупок продукции, руб. с НДС</th>
                <th>Бонусные баллы<br>за каждую 1000 руб. с НДС</th>
              </tr>
              <tr>
                <td>Silver</td>
                <td>100 000 - 120 000</td>
                <td>30</td>
              </tr>
              <tr>
                <td>Gold</td>
                <td>120 001 - 160 000</td>
                <td>50</td>
              </tr>
              <tr>
                <td>Platinum</td>
                <td>160 001 - 210 000</td>
                <td>70</td>
              </tr>
              <tr>
                <td>Diamond</td>
                <td>210 001 и более</td>
                <td>100</td>
              </tr>
            </table>С уважением, команда  Beauty Care Professional
          </article>
        </section>
      </div>
      <script type="text/javascript">$(function(){$.pixlayout({src: "/static/img/temp/news_item.jpg", opacity: 0.5, top: -70, left: -177, center: false, clip: true, show: false }) })</script>
      <div class="psevdofooter"></div>
    </div>
    <footer class="footer">
      <div class="width-wrap">
        <div class="footer-banner"><span class="footer-banner-title">Всегда вместе.<i>Страсть к профессии</i></span><a href=""><img src="/static/img/img--banner-1.png" alt></a><a href=""><img src="/static/img/img--banner-2.png" alt></a><a href=""><img src="/static/img/img--banner-3.png" alt></a></div>
        <div class="footer-info"><a class="footer-info-made"><span>сделано в</span><img src="/static/img/logo-promo.png" alt></a><span class="footer-info-copyright">© 2015 Schwarzkopf Professional</span></div>
      </div>
    </footer>
  </body>
</html>
