static/source/jade/html/pages/pageAccount/pageAccount.jade
block vars
    - var title='Title'

extends ../../partials/layout
block content

    .grid.width-wrap.bg-aside

        include ../../partials/aside

        section.three-fourth.grid-item.page-content.margin-left.account

            h1 Мой счет

            .account-current

                h2 Закупки в текущем квартале

                table
                    tr
                        th Апрель
                        th Май
                        th Июнь
                    tr
                        td
                            h2
                                strong 58 800
                                | руб
                        td
                            h2
                                strong 70 960
                                | руб
                        td -

                ul.account-current-list
                    li.account-current-list__el
                        .account-current-list__el-title
                            p Всего
                        .grid
                            h3.grid-item
                                strong 125 600
                                | руб
                            p.grid-item Закупите до конца квартала продукции еще нв 4 401 руб и получите
                                strong уровень Platinum

                    li.account-current-list__el
                        .account-current-list__el-title
                            p В баллах
                        .grid
                            h3.grid-item
                                strong 72 800
                            p.grid-item Начисление баллов по текущему кварталу будет произведено до 20 июля.

            h2 Транзакции за последние 4 квартала

            a(href="").download-xl Скачать в формате xls

            table
                tr
                    th ID
                    th Дата
                    th Сумма
                    th Описание
                tr
                    td 4938
                    td 16.04.2015 12:58
                    td -500 баллов
                    td Отмена ошибочного начисления Новогодний бонус
                tr
                    td 4722
                    td 16.04.2015 11:58
                    td +500 баллов
                    td Новогодний бонус
                tr
                    td 4500
                    td 30.01.2015
                    td -58 000 баллов
                    td Оплата заказа №164000

    script(type="text/javascript") $(function(){$.pixlayout({src: "/static/img/temp/account.jpg", opacity: 0.5, top: -90, left: -177, center: false, clip: true, show: false }) })

static/html/pages/pageAccount/pageAccount.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <script src="/static/js/app-common.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/jquery.pixlayout.0.9.6.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header">
        <div class="width-wrap justifyed">
          <div class="header-logo"><a href=""><img src="/static/img/logo-ph.png" alt class="header-logo-hp"></a><img src="/static/img/logo-sch.png" alt class="header-logo-sch"></div><a href="tel:88005006340" class="header-phone">+7 800 500 63 40</a><span class="header-adress">Москва, Колокольников пер., 11</span><a href="" class="header-download main-nav__el-pdf">Ознакомиться с каталогом продукции</a>
        </div>
      </header>
      <div class="grid width-wrap bg-aside">
        <aside class="grid-item one-fourth aside"><span class="aside-lk">Личный кабинет</span>
          <div class="aside-status"><span>Салон красоты "Афродита"</span><img src="/static/img/icon--status-slv.png" alt></div>
          <div class="aside-links">
            <div><a href="#">Редактировать профиль</a></div>
            <div><a href="#">Выйти</a></div>
          </div>
          <div class="aside-bill"><span class="aside-bill-title">Мой счет</span>
            <div class="aside-bill--point"><span class="aside-bill--point-value"><strong>5 206</strong>баллов</span><a href="">Взять баллы в кредит</a></div>
            <div class="aside-bill--rub"><span class="aside-bill--rub-value"><strong>124 600</strong>руб.</span><a href="">Закупки в этом квартале</a></div>
          </div>
          <ul class="aside-nav">
            <li class="aside-nav__el current"><a href="">Каталог</a></li>
            <li class="aside-nav__el aside-nav__el-basket"><a href="">Корзина<span>23</span></a></li>
            <li class="aside-nav__el"><a href="">Заказы</a></li>
            <li class="aside-nav__el"><a href="">Новости<span>1</span></a></li>
            <li class="aside-nav__el"><a href="">Условия программы</a></li>
          </ul>
        </aside>
        <section class="three-fourth grid-item page-content margin-left account">
          <h1>Мой счет</h1>
          <div class="account-current">
            <h2>Закупки в текущем квартале</h2>
            <table>
              <tr>
                <th>Апрель</th>
                <th>Май</th>
                <th>Июнь</th>
              </tr>
              <tr>
                <td>
                  <h2><strong>58 800</strong>руб</h2>
                </td>
                <td>
                  <h2><strong>70 960</strong>руб</h2>
                </td>
                <td>-</td>
              </tr>
            </table>
            <ul class="account-current-list">
              <li class="account-current-list__el">
                <div class="account-current-list__el-title">
                  <p>Всего</p>
                </div>
                <div class="grid">
                  <h3 class="grid-item"><strong>125 600</strong>руб</h3>
                  <p class="grid-item">Закупите до конца квартала продукции еще нв 4 401 руб и получите<strong>уровень Platinum</strong></p>
                </div>
              </li>
              <li class="account-current-list__el">
                <div class="account-current-list__el-title">
                  <p>В баллах</p>
                </div>
                <div class="grid">
                  <h3 class="grid-item"><strong>72 800</strong></h3>
                  <p class="grid-item">Начисление баллов по текущему кварталу будет произведено до 20 июля.</p>
                </div>
              </li>
            </ul>
          </div>
          <h2>Транзакции за последние 4 квартала</h2><a href="" class="download-xl">Скачать в формате xls</a>
          <table>
            <tr>
              <th>ID</th>
              <th>Дата</th>
              <th>Сумма</th>
              <th>Описание</th>
            </tr>
            <tr>
              <td>4938</td>
              <td>16.04.2015 12:58</td>
              <td>-500 баллов</td>
              <td>Отмена ошибочного начисления Новогодний бонус</td>
            </tr>
            <tr>
              <td>4722</td>
              <td>16.04.2015 11:58</td>
              <td>+500 баллов</td>
              <td>Новогодний бонус</td>
            </tr>
            <tr>
              <td>4500</td>
              <td>30.01.2015</td>
              <td>-58 000 баллов</td>
              <td>Оплата заказа №164000</td>
            </tr>
          </table>
        </section>
      </div>
      <script type="text/javascript">$(function(){$.pixlayout({src: "/static/img/temp/account.jpg", opacity: 0.5, top: -90, left: -177, center: false, clip: true, show: false }) })</script>
      <div class="psevdofooter"></div>
    </div>
    <footer class="footer">
      <div class="width-wrap">
        <div class="footer-banner"><span class="footer-banner-title">Всегда вместе.<i>Страсть к профессии</i></span><a href=""><img src="/static/img/img--banner-1.png" alt></a><a href=""><img src="/static/img/img--banner-2.png" alt></a><a href=""><img src="/static/img/img--banner-3.png" alt></a></div>
        <div class="footer-info"><a class="footer-info-made"><span>сделано в</span><img src="/static/img/logo-promo.png" alt></a><span class="footer-info-copyright">© 2015 Schwarzkopf Professional</span></div>
      </div>
    </footer>
  </body>
</html>
