static/source/jade/html/pages/pageCatalog/pageCatalog_main.jade
block vars
    - var title='Title'

extends ../../partials/layout

block content

    .grid.width-wrap.bg-aside

        include ../../partials/aside

        section.three-fourth.grid-item.page-content.margin-left

            h1 Каталог подарков

            .search--block
                form(action = "" method = "").search-forrm
                    input(type = "text" name = "search" placeholder = "поиск по каталогу" value).inp
                    input(type = "submit" value = "Найти").btn

            ul.catalog-section--list
                li.catalog-section--list__el.three-fourth.margin-left
                    a(style = "background: url('/static/img/img--category-1.png') no-repeat 100% 100%")
                        h2 Конкурсы, семинары, конгрессы
                        span.catalog-section--list__el-text
                            strong 7
                            | событий
                        span.label.label-bg-white
                            | от 750
                            br
                            | баллов
                        span.catalog-section--list__el-number 1
                li.catalog-section--list__el.margin-left
                    a(style = "background: url('/static/img/img--category-2.png') no-repeat 100% 100%")
                        h2 Кресла
                            br
                            |для клиентов
                        span.label.label-bg-white
                            | от 11 000
                            br
                            | баллов
                li.catalog-section--list__el.margin-left
                    a(style = "background: url('/static/img/img--category-3.png') no-repeat 100% 100%")
                        h2 Машинки
                            br
                            |для стрижки
                        span.label.label-bg-white
                            | от 1 090
                            br
                            | баллов
                li.catalog-section--list__el.margin-left
                    a(style = "background: url('/static/img/img--category-4.png') no-repeat 100% 100%")
                        h2 Мойки для волос
                        span.label.label-bg-white
                            | от 21 560
                            br
                            | баллов
                        span.catalog-section--list__el-number 23
                li.catalog-section--list__el.margin-left
                    a(style = "background: url('/static/img/img--category-5.png') no-repeat 100% 100%")
                        h2 Профессиональные
                            br
                            | фены
                        span.label.label-bg-white
                            | от 2 640
                            br
                            | баллов
                        span.catalog-section--list__el-number 23
                li.catalog-section--list__el.three-fourth.margin-left
                    a(style = "background: url('/static/img/img--category-6.png') no-repeat 100% 100%")
                        h2 Salon Tools Schwarzkopf Professional
                        span.catalog-section--list__el-text
                            strong 18
                            | товаров
                        span.label.label-bg-white
                            | от 60
                            br
                            | баллов
                        span.catalog-section--list__el-number 1
                li.catalog-section--list__el.margin-left
                    a(style = "background: url('/static/img/img--category-7.png') no-repeat 100% 100%")
                        h2 Тележки парикмахера
                        span.label.label-bg-white
                            | от 3 960
                            br
                            | баллов
                li.catalog-section--list__el.margin-left
                    a(style = "background: url('/static/img/img--category-8.png') no-repeat 100% 100%")
                        h2 Ножницы
                            br
                            | для стрижки
                        span.label.label-bg-white
                            | от 4 460
                            br
                            | баллов
                        span.catalog-section--list__el-number 23

    script(type="text/javascript") $(function(){$.pixlayout({src: "/static/img/temp/catalog_main.jpg", opacity: 0.5, top: 0, left: -177, center: false, clip: true, show: false }) })

static/html/pages/pageCatalog/pageCatalog_main.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <script src="/static/js/app-common.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/jquery.pixlayout.0.9.6.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header">
        <div class="width-wrap justifyed">
          <div class="header-logo"><a href=""><img src="/static/img/logo-ph.png" alt class="header-logo-hp"></a><img src="/static/img/logo-sch.png" alt class="header-logo-sch"></div><a href="tel:88005006340" class="header-phone">+7 800 500 63 40</a><span class="header-adress">Москва, Колокольников пер., 11</span><a href="" class="header-download main-nav__el-pdf">Ознакомиться с каталогом продукции</a>
        </div>
      </header>
      <div class="grid width-wrap bg-aside">
        <aside class="grid-item one-fourth aside"><span class="aside-lk">Личный кабинет</span>
          <div class="aside-status"><span>Салон красоты "Афродита"</span><img src="/static/img/icon--status-slv.png" alt></div>
          <div class="aside-links">
            <div><a href="#">Редактировать профиль</a></div>
            <div><a href="#">Выйти</a></div>
          </div>
          <div class="aside-bill"><span class="aside-bill-title">Мой счет</span>
            <div class="aside-bill--point"><span class="aside-bill--point-value"><strong>5 206</strong>баллов</span><a href="">Взять баллы в кредит</a></div>
            <div class="aside-bill--rub"><span class="aside-bill--rub-value"><strong>124 600</strong>руб.</span><a href="">Закупки в этом квартале</a></div>
          </div>
          <ul class="aside-nav">
            <li class="aside-nav__el current"><a href="">Каталог</a></li>
            <li class="aside-nav__el aside-nav__el-basket"><a href="">Корзина<span>23</span></a></li>
            <li class="aside-nav__el"><a href="">Заказы</a></li>
            <li class="aside-nav__el"><a href="">Новости<span>1</span></a></li>
            <li class="aside-nav__el"><a href="">Условия программы</a></li>
          </ul>
        </aside>
        <section class="three-fourth grid-item page-content margin-left">
          <h1>Каталог подарков</h1>
          <div class="search--block">
            <form action="" method="" class="search-forrm">
              <input type="text" name="search" placeholder="поиск по каталогу" value class="inp">
              <input type="submit" value="Найти" class="btn">
            </form>
          </div>
          <ul class="catalog-section--list">
            <li class="catalog-section--list__el three-fourth margin-left"><a style="background: url('/static/img/img--category-1.png') no-repeat 100% 100%">
                <h2>Конкурсы, семинары, конгрессы</h2><span class="catalog-section--list__el-text"><strong>7</strong>событий</span><span class="label label-bg-white">от 750<br>баллов</span><span class="catalog-section--list__el-number">1</span></a></li>
            <li class="catalog-section--list__el margin-left"><a style="background: url('/static/img/img--category-2.png') no-repeat 100% 100%">
                <h2>Кресла<br>для клиентов</h2><span class="label label-bg-white">от 11 000<br>баллов</span></a></li>
            <li class="catalog-section--list__el margin-left"><a style="background: url('/static/img/img--category-3.png') no-repeat 100% 100%">
                <h2>Машинки<br>для стрижки</h2><span class="label label-bg-white">от 1 090<br>баллов</span></a></li>
            <li class="catalog-section--list__el margin-left"><a style="background: url('/static/img/img--category-4.png') no-repeat 100% 100%">
                <h2>Мойки для волос</h2><span class="label label-bg-white">от 21 560<br>баллов</span><span class="catalog-section--list__el-number">23</span></a></li>
            <li class="catalog-section--list__el margin-left"><a style="background: url('/static/img/img--category-5.png') no-repeat 100% 100%">
                <h2>Профессиональные<br>фены</h2><span class="label label-bg-white">от 2 640<br>баллов</span><span class="catalog-section--list__el-number">23</span></a></li>
            <li class="catalog-section--list__el three-fourth margin-left"><a style="background: url('/static/img/img--category-6.png') no-repeat 100% 100%">
                <h2>Salon Tools Schwarzkopf Professional</h2><span class="catalog-section--list__el-text"><strong>18</strong>товаров</span><span class="label label-bg-white">от 60<br>баллов</span><span class="catalog-section--list__el-number">1</span></a></li>
            <li class="catalog-section--list__el margin-left"><a style="background: url('/static/img/img--category-7.png') no-repeat 100% 100%">
                <h2>Тележки парикмахера</h2><span class="label label-bg-white">от 3 960<br>баллов</span></a></li>
            <li class="catalog-section--list__el margin-left"><a style="background: url('/static/img/img--category-8.png') no-repeat 100% 100%">
                <h2>Ножницы<br>для стрижки</h2><span class="label label-bg-white">от 4 460<br>баллов</span><span class="catalog-section--list__el-number">23</span></a></li>
          </ul>
        </section>
      </div>
      <script type="text/javascript">$(function(){$.pixlayout({src: "/static/img/temp/catalog_main.jpg", opacity: 0.5, top: 0, left: -177, center: false, clip: true, show: false }) })</script>
      <div class="psevdofooter"></div>
    </div>
    <footer class="footer">
      <div class="width-wrap">
        <div class="footer-banner"><span class="footer-banner-title">Всегда вместе.<i>Страсть к профессии</i></span><a href=""><img src="/static/img/img--banner-1.png" alt></a><a href=""><img src="/static/img/img--banner-2.png" alt></a><a href=""><img src="/static/img/img--banner-3.png" alt></a></div>
        <div class="footer-info"><a class="footer-info-made"><span>сделано в</span><img src="/static/img/logo-promo.png" alt></a><span class="footer-info-copyright">© 2015 Schwarzkopf Professional</span></div>
      </div>
    </footer>
  </body>
</html>
