static/html/pages/pageCatalog/pageCatalog_card.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <script src="/static/js/app-common.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/jquery.pixlayout.0.9.6.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header">
        <div class="width-wrap justifyed">
          <div class="header-logo"><a href=""><img src="/static/img/logo-ph.png" alt class="header-logo-hp"></a><img src="/static/img/logo-sch.png" alt class="header-logo-sch"></div><a href="tel:88005006340" class="header-phone">+7 800 500 63 40</a><span class="header-adress">Москва, Колокольников пер., 11</span><a href="" class="header-download main-nav__el-pdf">Ознакомиться с каталогом продукции</a>
        </div>
      </header>
      <div class="grid width-wrap bg-aside">
        <aside class="grid-item one-fourth aside"><span class="aside-lk">Личный кабинет</span>
          <div class="aside-status"><span>Салон красоты "Афродита"</span><img src="/static/img/icon--status-slv.png" alt></div>
          <div class="aside-links">
            <div><a href="#">Редактировать профиль</a></div>
            <div><a href="#">Выйти</a></div>
          </div>
          <div class="aside-bill"><span class="aside-bill-title">Мой счет</span>
            <div class="aside-bill--point"><span class="aside-bill--point-value"><strong>5 206</strong>баллов</span><a href="">Взять баллы в кредит</a></div>
            <div class="aside-bill--rub"><span class="aside-bill--rub-value"><strong>124 600</strong>руб.</span><a href="">Закупки в этом квартале</a></div>
          </div>
          <ul class="aside-nav">
            <li class="aside-nav__el current"><a href="">Каталог</a></li>
            <li class="aside-nav__el aside-nav__el-basket"><a href="">Корзина<span>23</span></a></li>
            <li class="aside-nav__el"><a href="">Заказы</a></li>
            <li class="aside-nav__el"><a href="">Новости<span>1</span></a></li>
            <li class="aside-nav__el"><a href="">Условия программы</a></li>
          </ul>
        </aside>
        <section class="three-fourth grid-item page-content margin-left"><a class="breadcrumbs btn">Кресла для клиентов</a>
          <h1>Кресло парикмахерское Мона</h1>
          <div class="catalog-item grid">
            <div class="catalog-item-img grid-item"><img src="/static/img/img--item.jpg" alt></div>
            <div class="catalog-item-content grid-item">
              <form action="/static/js/ajax/add-item.php" method="post" class="item-form">
                <input type="hidden" name="item_id" value="item_01">
                <div class="catalog-item-content-old"><span>16 700 баллов</span></div>
                <div class="catalog-item-content-new"><span class="label label-bg-gray">14 850 баллов</span></div>
                <label><span>Цвет</span>
                  <select class="select-styler">
                    <option value="color_01">Черный</option>
                    <option value="color_02">Белый</option>
                    <option value="color_03">Красный</option>
                  </select>
                </label><span class="catalog-item-content-value">На складе 5 штук</span>
                <div class="catalog-item-basket">
                  <div class="catalog-item-basket-add">
                    <div>
                      <input type="text" name="amount" value="1" maxlength="3" class="catalog-item-basket-amount js--input-number"><span class="catalog-item-basket-add-amount js--add-amount js--item-shange"></span><span class="catalog-item-basket-remove-amount js--remove-amount js--item-shange"></span>
                    </div><a class="js--add-item">Положить в корзину</a>
                  </div>
                  <div class="catalog-item-basket-link"><a>В корзине<i>1</i>шт.</a></div>
                </div>
              </form>
            </div>
          </div>
          <p>Кресло парикмахерское МОНА произведено российской компанией "Имидж Мастер" Имеет хромированные подлокотники с декоративной накладкой из дерева или из кожезаменителя. Комплектуется гидроподъемником. Мягкие элементы кресла изготовлены из высококачественного поролона и обиты искусственной кожей. На складе имеются в наличии кресла синего, бежевого и черного цвета. Размер (ШхГ) 61х76 Цена указана за кресло с гидроподъемником на пятилучье пр-ва Китай.</p>
          <div class="catalog-recommend">
            <h3>Рекомендуем посмотреть</h3>
            <ul class="catalog-list">
              <li class="catalog-list__el one-fourth margin-left"><a href="#"><img src="/static/img/img--item-1.jpg" alt>
                  <p class="catalog-list__el-name">Профессиональная машинка для стрижки BaByliss Pro<br>FX 660E</p><span class="catalog-list__el-price"><strong>7 500</strong>баллов</span></a><span class="item-none">Нет<br>в наличии</span></li>
              <li class="catalog-list__el one-fourth margin-left"><a href="#"><img src="/static/img/img--item-1.jpg" alt>
                  <p class="catalog-list__el-name">Кресло парикмахерское "Арина"</p><span class="catalog-list__el-price"><strong>12 100</strong>баллов</span><span class="item-none">Нет<br>в наличии</span></a></li>
            </ul>
          </div>
        </section>
      </div>
      <script type="text/javascript">$(function(){$.pixlayout({src: "/static/img/temp/catalog_card.jpg", opacity: 0.5, top: 0, left: -177, center: false, clip: true, show: false }) })</script>
      <div class="psevdofooter"></div>
    </div>
    <footer class="footer">
      <div class="width-wrap">
        <div class="footer-banner"><span class="footer-banner-title">Всегда вместе.<i>Страсть к профессии</i></span><a href=""><img src="/static/img/img--banner-1.png" alt></a><a href=""><img src="/static/img/img--banner-2.png" alt></a><a href=""><img src="/static/img/img--banner-3.png" alt></a></div>
        <div class="footer-info"><a class="footer-info-made"><span>сделано в</span><img src="/static/img/logo-promo.png" alt></a><span class="footer-info-copyright">© 2015 Schwarzkopf Professional</span></div>
      </div>
    </footer>
  </body>
</html>

static/source/jade/html/pages/pageCatalog/pageCatalog_card.jade
block vars
    - var title='Title'

extends ../../partials/layout
block content

    .grid.width-wrap.bg-aside

        include ../../partials/aside

        section.three-fourth.grid-item.page-content.margin-left

            a.breadcrumbs.btn Кресла для клиентов

            h1 Кресло парикмахерское Мона

            .catalog-item.grid
                .catalog-item-img.grid-item
                    img(src = "/static/img/img--item.jpg" alt)

                .catalog-item-content.grid-item
                    form(action = "/static/js/ajax/add-item.php" method = "post").item-form
                        input(type="hidden" name="item_id" value="item_01")
                        .catalog-item-content-old
                            span 16 700 баллов
                        .catalog-item-content-new
                            span.label.label-bg-gray 14 850 баллов
                        label
                            span Цвет
                            select.select-styler
                                option(value="color_01") Черный
                                option(value="color_02") Белый
                                option(value="color_03") Красный
                        span.catalog-item-content-value На складе 5 штук
                        .catalog-item-basket
                            .catalog-item-basket-add
                                div
                                    input(type = "text" name = "amount" value="1" maxlength="3").catalog-item-basket-amount.js--input-number
                                    span.catalog-item-basket-add-amount.js--add-amount.js--item-shange
                                    span.catalog-item-basket-remove-amount.js--remove-amount.js--item-shange
                                a.js--add-item Положить в корзину
                            .catalog-item-basket-link
                                a В корзине
                                    i 1
                                    | шт.

            p Кресло парикмахерское МОНА произведено российской компанией "Имидж Мастер" Имеет хромированные подлокотники с декоративной накладкой из дерева или из кожезаменителя. Комплектуется гидроподъемником. Мягкие элементы кресла изготовлены из высококачественного поролона и обиты искусственной кожей. На складе имеются в наличии кресла синего, бежевого и черного цвета. Размер (ШхГ) 61х76 Цена указана за кресло с гидроподъемником на пятилучье пр-ва Китай.

            .catalog-recommend

                h3 Рекомендуем посмотреть

                ul.catalog-list
                    li.catalog-list__el.one-fourth.margin-left
                        a(href="#")
                            img(src = "/static/img/img--item-1.jpg" alt)
                            p.catalog-list__el-name Профессиональная машинка для стрижки BaByliss Pro
                                br
                                |FX 660E
                            span.catalog-list__el-price
                                strong 7 500
                                | баллов
                        span.item-none Нет
                            br
                            | в наличии

                    li.catalog-list__el.one-fourth.margin-left
                        a(href="#")
                            img(src = "/static/img/img--item-1.jpg" alt)
                            p.catalog-list__el-name Кресло парикмахерское "Арина"
                            span.catalog-list__el-price
                                strong 12 100
                                | баллов
                            span.item-none Нет
                                br
                                | в наличии


    script(type="text/javascript") $(function(){$.pixlayout({src: "/static/img/temp/catalog_card.jpg", opacity: 0.5, top: 0, left: -177, center: false, clip: true, show: false }) })
