static/source/jade/html/pages/pageCredit/pageCredit.jade
block vars
    - var title='Title'

extends ../../partials/layout
block content

    .grid.width-wrap.bg-aside

        include ../../partials/aside

        section.three-fourth.grid-item.page-content.margin-left.credit

            h1 Взять баллы в кредит

            .credit-request
                form(action="" method="").credit-request-form
                    input(type="hidden" name="user_id" value="user_01")
                    label
                        span Прошу предоставить мне кредить в размере
                        input(type="text" name="credit_value" maxlength='7' value="1").inp.js--input-number
                        span баллов
                    input(type="submit" value="отправить").btn

            h2 Условия предоставления и возврата кредита
            ul
                li Сумма кредита будет зачислена на&nbsp;ваш счет сразу после того, как будет одобрена.
                li Сумма кредита будет вычтена при начислении баллов за&nbsp;следующий квартал. Если сумма баллов, полученных в&nbsp;следующем квартале, не&nbsp;закроет кредит, то&nbsp;остаток кредита переносится на&nbsp;следующий кварталю
                li Кредит беспроцентный. Вы&nbsp;возвращаете только ту&nbsp;сумму, которую запросили.


        .hidden-block
            a(href="credit-ok.html" class="fancybox.ajax").fancy.credit-request-popup sddasd

    script(type="text/javascript") $(function(){$.pixlayout({src: "/static/img/temp/credit.jpg", opacity: 0.5, top: -73, left: -177, center: false, clip: true, show: false }) })

static/html/pages/pageCredit/pageCredit.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <script src="/static/js/app-common.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/jquery.pixlayout.0.9.6.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header">
        <div class="width-wrap justifyed">
          <div class="header-logo"><a href=""><img src="/static/img/logo-ph.png" alt class="header-logo-hp"></a><img src="/static/img/logo-sch.png" alt class="header-logo-sch"></div><a href="tel:88005006340" class="header-phone">+7 800 500 63 40</a><span class="header-adress">Москва, Колокольников пер., 11</span><a href="" class="header-download main-nav__el-pdf">Ознакомиться с каталогом продукции</a>
        </div>
      </header>
      <div class="grid width-wrap bg-aside">
        <aside class="grid-item one-fourth aside"><span class="aside-lk">Личный кабинет</span>
          <div class="aside-status"><span>Салон красоты "Афродита"</span><img src="/static/img/icon--status-slv.png" alt></div>
          <div class="aside-links">
            <div><a href="#">Редактировать профиль</a></div>
            <div><a href="#">Выйти</a></div>
          </div>
          <div class="aside-bill"><span class="aside-bill-title">Мой счет</span>
            <div class="aside-bill--point"><span class="aside-bill--point-value"><strong>5 206</strong>баллов</span><a href="">Взять баллы в кредит</a></div>
            <div class="aside-bill--rub"><span class="aside-bill--rub-value"><strong>124 600</strong>руб.</span><a href="">Закупки в этом квартале</a></div>
          </div>
          <ul class="aside-nav">
            <li class="aside-nav__el current"><a href="">Каталог</a></li>
            <li class="aside-nav__el aside-nav__el-basket"><a href="">Корзина<span>23</span></a></li>
            <li class="aside-nav__el"><a href="">Заказы</a></li>
            <li class="aside-nav__el"><a href="">Новости<span>1</span></a></li>
            <li class="aside-nav__el"><a href="">Условия программы</a></li>
          </ul>
        </aside>
        <section class="three-fourth grid-item page-content margin-left credit">
          <h1>Взять баллы в кредит</h1>
          <div class="credit-request">
            <form action="" method="" class="credit-request-form">
              <input type="hidden" name="user_id" value="user_01">
              <label><span>Прошу предоставить мне кредить в размере</span>
                <input type="text" name="credit_value" maxlength="7" value="1" class="inp js--input-number"><span>баллов</span>
              </label>
              <input type="submit" value="отправить" class="btn">
            </form>
          </div>
          <h2>Условия предоставления и возврата кредита</h2>
          <ul>
            <li>Сумма кредита будет зачислена на&nbsp;ваш счет сразу после того, как будет одобрена.</li>
            <li>Сумма кредита будет вычтена при начислении баллов за&nbsp;следующий квартал. Если сумма баллов, полученных в&nbsp;следующем квартале, не&nbsp;закроет кредит, то&nbsp;остаток кредита переносится на&nbsp;следующий кварталю</li>
            <li>Кредит беспроцентный. Вы&nbsp;возвращаете только ту&nbsp;сумму, которую запросили.</li>
          </ul>
        </section>
        <div class="hidden-block"><a href="credit-ok.html" class="fancybox.ajax fancy credit-request-popup">sddasd</a></div>
      </div>
      <script type="text/javascript">$(function(){$.pixlayout({src: "/static/img/temp/credit.jpg", opacity: 0.5, top: -73, left: -177, center: false, clip: true, show: false }) })</script>
      <div class="psevdofooter"></div>
    </div>
    <footer class="footer">
      <div class="width-wrap">
        <div class="footer-banner"><span class="footer-banner-title">Всегда вместе.<i>Страсть к профессии</i></span><a href=""><img src="/static/img/img--banner-1.png" alt></a><a href=""><img src="/static/img/img--banner-2.png" alt></a><a href=""><img src="/static/img/img--banner-3.png" alt></a></div>
        <div class="footer-info"><a class="footer-info-made"><span>сделано в</span><img src="/static/img/logo-promo.png" alt></a><span class="footer-info-copyright">© 2015 Schwarzkopf Professional</span></div>
      </div>
    </footer>
  </body>
</html>
