static/source/jade/html/pages/pageCredit/pageCredit-text.jade
block vars
    - var title='Title'

extends ../../partials/layout
block content

    .grid.width-wrap.bg-aside

        include ../../partials/aside

        section.three-fourth.grid-item.page-content.margin-left.credit

            h1 Кредитное соглашение

            .credit-text
                p Каждый участник может иметь только один счёт в&nbsp;программе (!).
                p Счёт участника и&nbsp;набранные баллы не&nbsp;объединяются со&nbsp;счетами других участников PH&nbsp;Club.
                p Набранные баллы нельзя передавать другим салонам, завещать или продавать.
                p Баллы в&nbsp;программе начисляются только за&nbsp;покупку продукции Schwarzkopf Professional (кроме ассортимента Indola) у&nbsp;официальных дистрибьюторов ООО &laquo;Хенкель Рус&raquo;. Баллы зачисляются на&nbsp;счёт участника только один раз. В&nbsp;случае неоплаты или возврата продукции официальному дистрибьютору, начисленные в&nbsp;программе баллы аннулируются.Каждый участник может иметь только один счёт в&nbsp;программе (!).
                p Счёт участника и&nbsp;набранные баллы не&nbsp;объединяются со&nbsp;счетами других участников PH&nbsp;Club.
                p Набранные баллы нельзя передавать другим салонам, завещать или продавать.
                p Баллы в&nbsp;программе начисляются только за&nbsp;покупку продукции Schwarzkopf Professional (кроме ассортимента Indola) у&nbsp;официальных дистрибьюторов ООО &laquo;Хенкель Рус&raquo;. Баллы зачисляются на&nbsp;счёт участника только один раз. В&nbsp;случае неоплаты или возврата продукции официальному дистрибьютору, начисленные в&nbsp;программе баллы аннулируются.
                p Вся персональная информация о&nbsp;счёте участника и&nbsp;сделанных заказах на&nbsp;подарки доступна на&nbsp;сайте PH&nbsp;Club в&nbsp;режиме реального времени.
                p Начисление баллов происходит на&nbsp;ежеквартальной основе. Это позволяет вашему салону получить преимущество повышения бонусного уровня при увеличении закупок (!).
                p Пример: Если ваш салон закупил в&nbsp;первом квартале продукции Schwarzkopf Professional на&nbsp;сумму от&nbsp;100&nbsp;000 до&nbsp;130&nbsp;000&nbsp;руб. с&nbsp;НДС, то&nbsp;вы&nbsp;зарабатываете 50&nbsp;бонусных баллов на&nbsp;каждую 1000&nbsp;руб. закупки. Во&nbsp;втором квартале закупки продукции Schwarzkopf Professional увеличились и&nbsp;составили 160&nbsp;000&nbsp;руб. с&nbsp;НДС, соответственно вы&nbsp;зарабатываете 70&nbsp;бонусных баллов на&nbsp;каждую 1000&nbsp;руб. закупки.
                p Для участия в&nbsp;PH&nbsp;Club и&nbsp;получения бонусных баллов салон должен выдерживать минимальный уровень закупок продукции SKP&nbsp;&mdash; 80&nbsp;000&nbsp;руб. с&nbsp;НДС на&nbsp;ежеквартальной основе. При несоблюдении данного условия на&nbsp;протяжении двух кварталов последовательно, салон автоматически выбывает из&nbsp;участия в&nbsp;программе.
                p Начисление баллов происходит по итогам квартала в следующие сроки: (!)
                p 1 квартал — до 20 апреля,
                p 2 квартал — до 20 июля,
                p 3 квартал — до 20 октября,
                p 4 квартал — до 20 января.
                p Вы&nbsp;сами можете выбрать свою стратегию: либо копить бонусные баллы (для получения более ценных подарков), либо тратить их&nbsp;по&nbsp;итогам каждого квартала. Вы&nbsp;также можете потратить только часть заработанных за&nbsp;квартал баллов.

    script(type="text/javascript") $(function(){$.pixlayout({src: "/static/img/temp/credit_text.jpg", opacity: 0.5, top: -70, left: -177, center: false, clip: true, show: false }) })

static/html/pages/pageCredit/pageCredit-text.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <script src="/static/js/app-common.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/jquery.pixlayout.0.9.6.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header">
        <div class="width-wrap justifyed">
          <div class="header-logo"><a href=""><img src="/static/img/logo-ph.png" alt class="header-logo-hp"></a><img src="/static/img/logo-sch.png" alt class="header-logo-sch"></div><a href="tel:88005006340" class="header-phone">+7 800 500 63 40</a><span class="header-adress">Москва, Колокольников пер., 11</span><a href="" class="header-download main-nav__el-pdf">Ознакомиться с каталогом продукции</a>
        </div>
      </header>
      <div class="grid width-wrap bg-aside">
        <aside class="grid-item one-fourth aside"><span class="aside-lk">Личный кабинет</span>
          <div class="aside-status"><span>Салон красоты "Афродита"</span><img src="/static/img/icon--status-slv.png" alt></div>
          <div class="aside-links">
            <div><a href="#">Редактировать профиль</a></div>
            <div><a href="#">Выйти</a></div>
          </div>
          <div class="aside-bill"><span class="aside-bill-title">Мой счет</span>
            <div class="aside-bill--point"><span class="aside-bill--point-value"><strong>5 206</strong>баллов</span><a href="">Взять баллы в кредит</a></div>
            <div class="aside-bill--rub"><span class="aside-bill--rub-value"><strong>124 600</strong>руб.</span><a href="">Закупки в этом квартале</a></div>
          </div>
          <ul class="aside-nav">
            <li class="aside-nav__el current"><a href="">Каталог</a></li>
            <li class="aside-nav__el aside-nav__el-basket"><a href="">Корзина<span>23</span></a></li>
            <li class="aside-nav__el"><a href="">Заказы</a></li>
            <li class="aside-nav__el"><a href="">Новости<span>1</span></a></li>
            <li class="aside-nav__el"><a href="">Условия программы</a></li>
          </ul>
        </aside>
        <section class="three-fourth grid-item page-content margin-left credit">
          <h1>Кредитное соглашение</h1>
          <div class="credit-text">
            <p>Каждый участник может иметь только один счёт в&nbsp;программе (!).</p>
            <p>Счёт участника и&nbsp;набранные баллы не&nbsp;объединяются со&nbsp;счетами других участников PH&nbsp;Club.</p>
            <p>Набранные баллы нельзя передавать другим салонам, завещать или продавать.</p>
            <p>Баллы в&nbsp;программе начисляются только за&nbsp;покупку продукции Schwarzkopf Professional (кроме ассортимента Indola) у&nbsp;официальных дистрибьюторов ООО &laquo;Хенкель Рус&raquo;. Баллы зачисляются на&nbsp;счёт участника только один раз. В&nbsp;случае неоплаты или возврата продукции официальному дистрибьютору, начисленные в&nbsp;программе баллы аннулируются.Каждый участник может иметь только один счёт в&nbsp;программе (!).</p>
            <p>Счёт участника и&nbsp;набранные баллы не&nbsp;объединяются со&nbsp;счетами других участников PH&nbsp;Club.</p>
            <p>Набранные баллы нельзя передавать другим салонам, завещать или продавать.</p>
            <p>Баллы в&nbsp;программе начисляются только за&nbsp;покупку продукции Schwarzkopf Professional (кроме ассортимента Indola) у&nbsp;официальных дистрибьюторов ООО &laquo;Хенкель Рус&raquo;. Баллы зачисляются на&nbsp;счёт участника только один раз. В&nbsp;случае неоплаты или возврата продукции официальному дистрибьютору, начисленные в&nbsp;программе баллы аннулируются.</p>
            <p>Вся персональная информация о&nbsp;счёте участника и&nbsp;сделанных заказах на&nbsp;подарки доступна на&nbsp;сайте PH&nbsp;Club в&nbsp;режиме реального времени.</p>
            <p>Начисление баллов происходит на&nbsp;ежеквартальной основе. Это позволяет вашему салону получить преимущество повышения бонусного уровня при увеличении закупок (!).</p>
            <p>Пример: Если ваш салон закупил в&nbsp;первом квартале продукции Schwarzkopf Professional на&nbsp;сумму от&nbsp;100&nbsp;000 до&nbsp;130&nbsp;000&nbsp;руб. с&nbsp;НДС, то&nbsp;вы&nbsp;зарабатываете 50&nbsp;бонусных баллов на&nbsp;каждую 1000&nbsp;руб. закупки. Во&nbsp;втором квартале закупки продукции Schwarzkopf Professional увеличились и&nbsp;составили 160&nbsp;000&nbsp;руб. с&nbsp;НДС, соответственно вы&nbsp;зарабатываете 70&nbsp;бонусных баллов на&nbsp;каждую 1000&nbsp;руб. закупки.</p>
            <p>Для участия в&nbsp;PH&nbsp;Club и&nbsp;получения бонусных баллов салон должен выдерживать минимальный уровень закупок продукции SKP&nbsp;&mdash; 80&nbsp;000&nbsp;руб. с&nbsp;НДС на&nbsp;ежеквартальной основе. При несоблюдении данного условия на&nbsp;протяжении двух кварталов последовательно, салон автоматически выбывает из&nbsp;участия в&nbsp;программе.</p>
            <p>Начисление баллов происходит по итогам квартала в следующие сроки: (!)</p>
            <p>1 квартал — до 20 апреля,</p>
            <p>2 квартал — до 20 июля,</p>
            <p>3 квартал — до 20 октября,</p>
            <p>4 квартал — до 20 января.</p>
            <p>Вы&nbsp;сами можете выбрать свою стратегию: либо копить бонусные баллы (для получения более ценных подарков), либо тратить их&nbsp;по&nbsp;итогам каждого квартала. Вы&nbsp;также можете потратить только часть заработанных за&nbsp;квартал баллов.</p>
          </div>
        </section>
      </div>
      <script type="text/javascript">$(function(){$.pixlayout({src: "/static/img/temp/credit_text.jpg", opacity: 0.5, top: -70, left: -177, center: false, clip: true, show: false }) })</script>
      <div class="psevdofooter"></div>
    </div>
    <footer class="footer">
      <div class="width-wrap">
        <div class="footer-banner"><span class="footer-banner-title">Всегда вместе.<i>Страсть к профессии</i></span><a href=""><img src="/static/img/img--banner-1.png" alt></a><a href=""><img src="/static/img/img--banner-2.png" alt></a><a href=""><img src="/static/img/img--banner-3.png" alt></a></div>
        <div class="footer-info"><a class="footer-info-made"><span>сделано в</span><img src="/static/img/logo-promo.png" alt></a><span class="footer-info-copyright">© 2015 Schwarzkopf Professional</span></div>
      </div>
    </footer>
  </body>
</html>
