static/source/jade/html/pages/pageIndex/pageIndex.jade
block vars
    - var title='Title'

extends ../../partials/layout_index
block content

    section(id="promo").promo
        .index-slider
            div(style = "background-image: url('/static/img/img--slider-1.jpg')").index-slider__el
            div(style = "background-image: url('/static/img/img--slider-2.jpg')").index-slider__el
            div(style = "background-image: url('/static/img/img--slider-3.jpg')").index-slider__el
            div(style = "background-image: url('/static/img/img--slider-4.jpg')").index-slider__el

        .width-wrap
            span.promo-club Клуб профессиональных парикмахеров Schwarzkopf Professional
            span.promo-title БОНУСНАЯ ПРОГРАММА
                br
                | ДЛЯ САЛОНОВ КРАСОТЫ
            span.promo-gift подарки для вас и ваших клиентов,
                br
                | бесплатные новинки, скидки на обучение и семинары

            a(href="#part").slide-page.js--page-slide

    section(id="part").part
        .width-wrap
            h3 как участвовать

            p Участником клуба профессиональных парикмахеров PH Club может стать
                strong любой салон или сеть салонов красоты
                | c объёмом закупок продукции Schwarzkopf Professional на сумму не меньше
                i.price-rouble
                    = " 100 000"
                = " в квартал на один салон."

            ul.part-list
                li.part-list__el
                    p
                        strong Заключите соглашение
                        | с&nbsp;официальным дистрибьютором
                        br
                        | для закупки продукции Schwarzkopf
                        br
                        | Professional

                li.part-list__el
                    p
                        strong Станьте
                            br
                            | участником клуба
                        | заполнив заявление на сайте

                li.part-list__el
                    p
                        strong Получайте бонусы
                        | и меняйте их на подарки из каталога

    section(id="profit").profit
        .width-wrap
            h3 ВЫГОДА — С КАЖДОГО ЗАКАЗА

            p
                = " Какую стратегию выберете вы: будете "
                a(data-id='0').active.js--change-graf
                    = " копить бонусные баллы "
                = " для получения более ценных подарков, "
                br
                = " или предпочтете "
                a(data-id='1').js--change-graf
                    = "тратить их по итогам каждого квартала?"

            .profit-scheme
                ul.profit-point.slide-1.active
                    li.profit-point__el
                        .profit-point__el-popup
                            span.label.label-bg-white 14 580 баллов
                            img(src="/static/img/img--cart-1.jpg" alt)
                            span.profit-point__el-name Кресло парикмахерское Жаклин
                        .profit-point__el-text
                            strong +19 700
                            | баллов

                    li.profit-point__el
                        .profit-point__el-popup
                            span.label.label-bg-white 14 580 баллов
                            img(src="/static/img/img--cart-1.jpg" alt)
                            span.profit-point__el-name Кресло парикмахерское Жаклин
                        .profit-point__el-text
                            strong +15 400
                            | баллов

                    li.profit-point__el
                        .profit-point__el-popup
                            span.label.label-bg-white 14 580 баллов
                            img(src="/static/img/img--cart-1.jpg" alt)
                            span.profit-point__el-name Кресло парикмахерское Жаклин
                        .profit-point__el-text
                            strong + 22 330
                            | баллов

                ul.profit-point.slide-2
                    li.profit-point__el
                        .profit-point__el-popup
                            span.label.label-bg-white 14 580 баллов
                            img(src="/static/img/img--cart-1.jpg" alt)
                            span.profit-point__el-name Кресло парикмахерское Жаклин
                        .profit-point__el-text
                            strong +19 700
                            | баллов

                    li.profit-point__el
                        .profit-point__el-popup
                            span.label.label-bg-white 14 580 баллов
                            img(src="/static/img/img--cart-1.jpg" alt)
                            span.profit-point__el-name Кресло парикмахерское Жаклин
                        .profit-point__el-text
                            strong +15 400
                            | баллов

                    li.profit-point__el
                        .profit-point__el-popup
                            span.label.label-bg-white 14 580 баллов
                            img(src="/static/img/img--cart-1.jpg" alt)
                            span.profit-point__el-name Кресло парикмахерское Жаклин
                        .profit-point__el-text
                            strong + 22 330
                            | баллов

                .profit-scheme-text Объем закупок
                    br
                    | продукции
                    br
                    | Shwarzkopf 
                    br
                    | Professional

    section(id="status").status
        .width-wrap
            h3 ДОСТИГНИТЕ НАСТОЯЩИХ ВЫСОТ
            p Каждому салону клуба профессиональных парикмахеров  PH Club присваивается один из четырех бонусных уровней.
                BR
                |Повышайте объемы закупок продукции Schwarzkopf Professional и получайте еще больше баллов и еще больше подарков.

            ul.status-list
                li.status-list__el.one-fourth.margin-left
                   .label.label-bg-white
                       span.price-rouble
                            strong 30 баллов
                            | за каждую 1000
                    img(src="/static/img/icon--status-slv.png" alt)
                li.status-list__el.one-fourth.margin-left
                    .label.label-bg-white
                       span.price-rouble
                            strong 50 баллов
                            | за каждую 1000
                    img(src="/static/img/icon--status-gld.png" alt)
                li.status-list__el.one-fourth.margin-left
                    .label.label-bg-white
                       span.price-rouble
                            strong 70 баллов
                            | за каждую 1000
                    img(src="/static/img/icon--status-plt.png" alt)
                li.status-list__el.one-fourth.margin-left
                    .label.label-bg-white
                       span.price-rouble
                            strong 100 баллов
                            | за каждую 1000
                    img(src="/static/img/icon--status-dmd.png" alt)

            .status-bar
                .statue-bar-color
                ul.status-bar-point
                    li.status-bar-point__el
                    li.status-bar-point__el
                    li.status-bar-point__el
                    li.status-bar-point__el
                ul.status-bar-text
                    li 100 000
                    li 120 000
                    li 160 000
                    li 210 000

    section(id="question").question
        .width-wrap
            h3 развейте сомнения
            ul.question-list
                li.question-list__el.active.slide.margin-left
                    h2 Какие обязательные условия участия в бонусной программе?
                    .slide-content После получения заявления, с Вами свяжется официальный представитель Schwarzkopf Professional в Вашем городе, который ответит на все Ваши вопросы. Если Вы уже являетесь клиентом Schwarzkopf Professional, Вы также можете уточнить подробности участия в прграмме у Вашего Эксклюзивного Торгового Представителя.

                li.question-list__el.slide.margin-left
                    h2 Какие документы я должен оформить, чтобы вступить в клуб профессиональных парикмахеров PH Club?
                    .slide-content После получения заявления, с Вами свяжется официальный представ

                li.question-list__el.slide.margin-left
                    h2 Что делать, если я уже являюсь клиентом Schwarzkopf Professional?
                    .slide-content После получения заявления, с Вами свяжется официальный представ

                li.question-list__el.slide.margin-left
                    h2 Как определяется бонусный уровень моего салона?
                    .slide-content После получения заявления, с Вами свяжется официальный представ

            ul.question-list.margin-left
                li.question-list__el.slide.margin-left
                    h2 Что, если в один из кварталов я куплю продукции меньше, чем на 80 000 a?
                    .slide-content  После получения заявления, с Вами свяжется официальный представ
                li.question-list__el.slide.margin-left
                    h2 Сколько салонов одной сети может одновременно участвовать в программе?
                    .slide-content После получения заявления, с Вами свяжется официальный представ
                li.question-list__el.slide.margin-left
                    h2 Как часто я могу менять полученные бонусные баллы на подарки?
                    .slide-content После получения заявления, с Вами свяжется официальный представ
                li.question-list__el.slide.margin-left
                    h2 Должен ли я платить за доставку подарков?
                    .slide-content После получения заявления, с Вами свяжется официальный представ

            p.label Если у вас остались вопросы, задайте их нам
                br
                | по телефону бесплатной горячей линии 8 800 500 63 40 
                br
                | или воспользуйтесь онлайн-консультантом на сайте.

            p Если вы готовы подать заявку на вступление в клуб профессиональных парикмахеров PH Club,
                br
                | то сейчас луший момент! Заполните форму и с вами свяжется официальный представитель Schwarzkopf
                br
                | Professional в вашем городе

            form(action="" method="post" id="index-form").index-form.main-form
                h3 Заявка на вступление в клуб
                label
                    span ФИО
                    input(type="text" name="name").inp.required
                label
                    span Салон
                    input(type="text" name="salon").inp.required
                label
                    span Город
                    input(type="text" name="town").inp.required
                label
                    span Эл. почта
                    input(type="text" name="mail").inp.required.inp-mail
                label
                    span Телефон
                    input(type="text" name="phone").inp.inp-required.inp-phone
                input(type="submit" value="Отправить").btn.js-form-submit

    .hidden-block
        a(href="#form-ok").fancy.js--form-ok
        div(id="form-ok").form-ok Спасибо за ваше обращение.
            | Мы скоро свяжемся с Вами.

    script(type="text/javascript") $(function(){$.pixlayout({src: "/static/img/temp/index.jpg", opacity: 0.5, top: -7, left: -177, center: false, clip: true, show: false }) })

static/html/pages/pageIndex/pageIndex.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <script src="/static/js/app-common.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/jquery.pixlayout.0.9.6.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header header-index">
        <div class="width-wrap justifyed">
          <div class="header-logo"><a href=""><img src="/static/img/logo-ph.png" alt class="header-logo-hp"></a><img src="/static/img/logo-sch.png" alt class="header-logo-sch"></div><a href="tel:88005006340" class="header-phone">+7 800 500 63 40</a><span class="header-adress">Москва, Колокольников пер., 11</span><a href="" class="header-download main-nav__el-pdf">Ознакомиться с каталогом продукции</a>
        </div>
        <nav>
          <div class="width-wrap"><a href="/static/html/pages/pagePopup/pageLogin.html" class="fancybox.ajax fancy header-login">Войти</a>
            <ul class="main-nav justifyed">
              <li class="main-nav__el"><a href="#promo" class="js--page-slide">Бонусная программа</a></li>
              <li class="main-nav__el"><a href="#part" class="js--page-slide">Как участвовать?</a></li>
              <li class="main-nav__el"><a href="#profit" class="js--page-slide">Ваша выгода</a></li>
              <li class="main-nav__el"><a href="#status" class="js--page-slide">Достигните высот</a></li>
              <li class="main-nav__el"><a href="#question" class="js--page-slide">Вопросы и ответы</a></li>
              <li class="main-nav__el"><a href="#index-form" class="js--page-slide">Заявка на вступление</a></li>
            </ul>
          </div>
        </nav>
      </header>
      <section id="promo" class="promo">
        <div class="index-slider">
          <div style="background-image: url('/static/img/img--slider-1.jpg')" class="index-slider__el"></div>
          <div style="background-image: url('/static/img/img--slider-2.jpg')" class="index-slider__el"></div>
          <div style="background-image: url('/static/img/img--slider-3.jpg')" class="index-slider__el"></div>
          <div style="background-image: url('/static/img/img--slider-4.jpg')" class="index-slider__el"></div>
        </div>
        <div class="width-wrap"><span class="promo-club">Клуб профессиональных парикмахеров Schwarzkopf Professional</span><span class="promo-title">БОНУСНАЯ ПРОГРАММА<br>ДЛЯ САЛОНОВ КРАСОТЫ</span><span class="promo-gift">подарки для вас и ваших клиентов,<br>бесплатные новинки, скидки на обучение и семинары</span><a href="#part" class="slide-page js--page-slide"></a></div>
      </section>
      <section id="part" class="part">
        <div class="width-wrap">
          <h3>как участвовать</h3>
          <p>Участником клуба профессиональных парикмахеров PH Club может стать<strong>любой салон или сеть салонов красоты</strong>c объёмом закупок продукции Schwarzkopf Professional на сумму не меньше<i class="price-rouble"> 100 000</i> в квартал на один салон.
          </p>
          <ul class="part-list">
            <li class="part-list__el">
              <p><strong>Заключите соглашение</strong>с&nbsp;официальным дистрибьютором<br>для закупки продукции Schwarzkopf<br>Professional</p>
            </li>
            <li class="part-list__el">
              <p><strong>Станьте<br>участником клуба</strong>заполнив заявление на сайте</p>
            </li>
            <li class="part-list__el">
              <p><strong>Получайте бонусы</strong>и меняйте их на подарки из каталога</p>
            </li>
          </ul>
        </div>
      </section>
      <section id="profit" class="profit">
        <div class="width-wrap">
          <h3>ВЫГОДА — С КАЖДОГО ЗАКАЗА</h3>
          <p> Какую стратегию выберете вы: будете <a data-id="0" class="active js--change-graf"> копить бонусные баллы </a> для получения более ценных подарков, <br> или предпочтете <a data-id="1" class="js--change-graf">тратить их по итогам каждого квартала?</a>
          </p>
          <div class="profit-scheme">
            <ul class="profit-point slide-1 active">
              <li class="profit-point__el">
                <div class="profit-point__el-popup"><span class="label label-bg-white">14 580 баллов</span><img src="/static/img/img--cart-1.jpg" alt><span class="profit-point__el-name">Кресло парикмахерское Жаклин</span></div>
                <div class="profit-point__el-text"><strong>+19 700</strong>баллов</div>
              </li>
              <li class="profit-point__el">
                <div class="profit-point__el-popup"><span class="label label-bg-white">14 580 баллов</span><img src="/static/img/img--cart-1.jpg" alt><span class="profit-point__el-name">Кресло парикмахерское Жаклин</span></div>
                <div class="profit-point__el-text"><strong>+15 400</strong>баллов</div>
              </li>
              <li class="profit-point__el">
                <div class="profit-point__el-popup"><span class="label label-bg-white">14 580 баллов</span><img src="/static/img/img--cart-1.jpg" alt><span class="profit-point__el-name">Кресло парикмахерское Жаклин</span></div>
                <div class="profit-point__el-text"><strong>+ 22 330</strong>баллов</div>
              </li>
            </ul>
            <ul class="profit-point slide-2">
              <li class="profit-point__el">
                <div class="profit-point__el-popup"><span class="label label-bg-white">14 580 баллов</span><img src="/static/img/img--cart-1.jpg" alt><span class="profit-point__el-name">Кресло парикмахерское Жаклин</span></div>
                <div class="profit-point__el-text"><strong>+19 700</strong>баллов</div>
              </li>
              <li class="profit-point__el">
                <div class="profit-point__el-popup"><span class="label label-bg-white">14 580 баллов</span><img src="/static/img/img--cart-1.jpg" alt><span class="profit-point__el-name">Кресло парикмахерское Жаклин</span></div>
                <div class="profit-point__el-text"><strong>+15 400</strong>баллов</div>
              </li>
              <li class="profit-point__el">
                <div class="profit-point__el-popup"><span class="label label-bg-white">14 580 баллов</span><img src="/static/img/img--cart-1.jpg" alt><span class="profit-point__el-name">Кресло парикмахерское Жаклин</span></div>
                <div class="profit-point__el-text"><strong>+ 22 330</strong>баллов</div>
              </li>
            </ul>
            <div class="profit-scheme-text">Объем закупок<br>продукции<br>Shwarzkopf <br>Professional</div>
          </div>
        </div>
      </section>
      <section id="status" class="status">
        <div class="width-wrap">
          <h3>ДОСТИГНИТЕ НАСТОЯЩИХ ВЫСОТ</h3>
          <p>Каждому салону клуба профессиональных парикмахеров  PH Club присваивается один из четырех бонусных уровней.
            <BR></BR>Повышайте объемы закупок продукции Schwarzkopf Professional и получайте еще больше баллов и еще больше подарков.
          </p>
          <ul class="status-list">
            <li class="status-list__el one-fourth margin-left">
              <div class="label label-bg-white"><span class="price-rouble"><strong>30 баллов</strong>за каждую 1000</span></div><img src="/static/img/icon--status-slv.png" alt>
            </li>
            <li class="status-list__el one-fourth margin-left">
              <div class="label label-bg-white"><span class="price-rouble"><strong>50 баллов</strong>за каждую 1000</span></div><img src="/static/img/icon--status-gld.png" alt>
            </li>
            <li class="status-list__el one-fourth margin-left">
              <div class="label label-bg-white"><span class="price-rouble"><strong>70 баллов</strong>за каждую 1000</span></div><img src="/static/img/icon--status-plt.png" alt>
            </li>
            <li class="status-list__el one-fourth margin-left">
              <div class="label label-bg-white"><span class="price-rouble"><strong>100 баллов</strong>за каждую 1000</span></div><img src="/static/img/icon--status-dmd.png" alt>
            </li>
          </ul>
          <div class="status-bar">
            <div class="statue-bar-color"></div>
            <ul class="status-bar-point">
              <li class="status-bar-point__el"></li>
              <li class="status-bar-point__el"></li>
              <li class="status-bar-point__el"></li>
              <li class="status-bar-point__el"></li>
            </ul>
            <ul class="status-bar-text">
              <li>100 000</li>
              <li>120 000</li>
              <li>160 000</li>
              <li>210 000</li>
            </ul>
          </div>
        </div>
      </section>
      <section id="question" class="question">
        <div class="width-wrap">
          <h3>развейте сомнения</h3>
          <ul class="question-list">
            <li class="question-list__el active slide margin-left">
              <h2>Какие обязательные условия участия в бонусной программе?</h2>
              <div class="slide-content">После получения заявления, с Вами свяжется официальный представитель Schwarzkopf Professional в Вашем городе, который ответит на все Ваши вопросы. Если Вы уже являетесь клиентом Schwarzkopf Professional, Вы также можете уточнить подробности участия в прграмме у Вашего Эксклюзивного Торгового Представителя.</div>
            </li>
            <li class="question-list__el slide margin-left">
              <h2>Какие документы я должен оформить, чтобы вступить в клуб профессиональных парикмахеров PH Club?</h2>
              <div class="slide-content">После получения заявления, с Вами свяжется официальный представ</div>
            </li>
            <li class="question-list__el slide margin-left">
              <h2>Что делать, если я уже являюсь клиентом Schwarzkopf Professional?</h2>
              <div class="slide-content">После получения заявления, с Вами свяжется официальный представ</div>
            </li>
            <li class="question-list__el slide margin-left">
              <h2>Как определяется бонусный уровень моего салона?</h2>
              <div class="slide-content">После получения заявления, с Вами свяжется официальный представ</div>
            </li>
          </ul>
          <ul class="question-list margin-left">
            <li class="question-list__el slide margin-left">
              <h2>Что, если в один из кварталов я куплю продукции меньше, чем на 80 000 a?</h2>
              <div class="slide-content"> После получения заявления, с Вами свяжется официальный представ</div>
            </li>
            <li class="question-list__el slide margin-left">
              <h2>Сколько салонов одной сети может одновременно участвовать в программе?</h2>
              <div class="slide-content">После получения заявления, с Вами свяжется официальный представ</div>
            </li>
            <li class="question-list__el slide margin-left">
              <h2>Как часто я могу менять полученные бонусные баллы на подарки?</h2>
              <div class="slide-content">После получения заявления, с Вами свяжется официальный представ</div>
            </li>
            <li class="question-list__el slide margin-left">
              <h2>Должен ли я платить за доставку подарков?</h2>
              <div class="slide-content">После получения заявления, с Вами свяжется официальный представ</div>
            </li>
          </ul>
          <p class="label">Если у вас остались вопросы, задайте их нам<br>по телефону бесплатной горячей линии 8 800 500 63 40 <br>или воспользуйтесь онлайн-консультантом на сайте.</p>
          <p>Если вы готовы подать заявку на вступление в клуб профессиональных парикмахеров PH Club,<br>то сейчас луший момент! Заполните форму и с вами свяжется официальный представитель Schwarzkopf<br>Professional в вашем городе</p>
          <form action="" method="post" id="index-form" class="index-form main-form">
            <h3>Заявка на вступление в клуб</h3>
            <label><span>ФИО</span>
              <input type="text" name="name" class="inp required">
            </label>
            <label><span>Салон</span>
              <input type="text" name="salon" class="inp required">
            </label>
            <label><span>Город</span>
              <input type="text" name="town" class="inp required">
            </label>
            <label><span>Эл. почта</span>
              <input type="text" name="mail" class="inp required inp-mail">
            </label>
            <label><span>Телефон</span>
              <input type="text" name="phone" class="inp inp-required inp-phone">
            </label>
            <input type="submit" value="Отправить" class="btn js-form-submit">
          </form>
        </div>
      </section>
      <div class="hidden-block"><a href="#form-ok" class="fancy js--form-ok"></a>
        <div id="form-ok" class="form-ok">
          Спасибо за ваше обращение.
          Мы скоро свяжемся с Вами.
        </div>
      </div>
      <script type="text/javascript">$(function(){$.pixlayout({src: "/static/img/temp/index.jpg", opacity: 0.5, top: -7, left: -177, center: false, clip: true, show: false }) })</script>
      <div class="psevdofooter"></div>
    </div>
    <footer class="footer">
      <div class="width-wrap">
        <div class="footer-banner"><span class="footer-banner-title">Всегда вместе.<i>Страсть к профессии</i></span><a href=""><img src="/static/img/img--banner-1.png" alt></a><a href=""><img src="/static/img/img--banner-2.png" alt></a><a href=""><img src="/static/img/img--banner-3.png" alt></a></div>
        <div class="footer-info"><a class="footer-info-made"><span>сделано в</span><img src="/static/img/logo-promo.png" alt></a><span class="footer-info-copyright">© 2015 Schwarzkopf Professional</span></div>
      </div>
    </footer>
  </body>
</html>
