static/html/pages/pageCart/pageOrder.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <script src="/static/js/app-common.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/jquery.pixlayout.0.9.6.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header">
        <div class="width-wrap justifyed">
          <div class="header-logo"><a href=""><img src="/static/img/logo-ph.png" alt class="header-logo-hp"></a><img src="/static/img/logo-sch.png" alt class="header-logo-sch"></div><a href="tel:88005006340" class="header-phone">+7 800 500 63 40</a><span class="header-adress">Москва, Колокольников пер., 11</span><a href="" class="header-download main-nav__el-pdf">Ознакомиться с каталогом продукции</a>
        </div>
      </header>
      <div class="grid width-wrap bg-aside">
        <aside class="grid-item one-fourth aside"><span class="aside-lk">Личный кабинет</span>
          <div class="aside-status"><span>Салон красоты "Афродита"</span><img src="/static/img/icon--status-slv.png" alt></div>
          <div class="aside-links">
            <div><a href="#">Редактировать профиль</a></div>
            <div><a href="#">Выйти</a></div>
          </div>
          <div class="aside-bill"><span class="aside-bill-title">Мой счет</span>
            <div class="aside-bill--point"><span class="aside-bill--point-value"><strong>5 206</strong>баллов</span><a href="">Взять баллы в кредит</a></div>
            <div class="aside-bill--rub"><span class="aside-bill--rub-value"><strong>124 600</strong>руб.</span><a href="">Закупки в этом квартале</a></div>
          </div>
          <ul class="aside-nav">
            <li class="aside-nav__el current"><a href="">Каталог</a></li>
            <li class="aside-nav__el aside-nav__el-basket"><a href="">Корзина<span>23</span></a></li>
            <li class="aside-nav__el"><a href="">Заказы</a></li>
            <li class="aside-nav__el"><a href="">Новости<span>1</span></a></li>
            <li class="aside-nav__el"><a href="">Условия программы</a></li>
          </ul>
        </aside>
        <section class="three-fourth grid-item page-content margin-left orders">
          <h1>Заказы</h1>
          <div class="account-current">
            <table class="styled-caption">
              <tr>
                <th class="strong">№164000, оформлен 30 августа 2015</th>
                <th class="italic right">доставка займет от 4 до 10 недель</th>
              </tr>
              <tr>
                <td>Кресло парикмахерское CHIOCIOLA UP, 1 шт</td>
                <td class="right"><strong>59 900</strong> баллов
                </td>
              </tr>
              <tr>
                <td>Кресло парикмахерское МОНА, 2 шт</td>
                <td class="right"><strong>11 000</strong> баллов
                </td>
              </tr>
              <tr>
                <td>Мини-выпрямитель для волос HAIRWAY Ceramic Ruby Iron, 1 шт</td>
                <td class="right"><strong>2 100</strong> баллов
                </td>
              </tr>
              <tr>
                <td>Машинка для стрижки волос Hairway Ultra Pro, 1 шт</td>
                <td class="right"><strong>2 370</strong> баллов
                </td>
              </tr>
            </table>
            <div class="cart-total-block">
              <p class="cart-total"><strong>58 800</strong> баллов
              </p>
            </div>
            <div class="order-contacts">
              <div class="order-contacts__el">
                <h3>Адрес доставки</h3>
                <p>Москва, ул.Большая Татарская д.7, корп.2</p>
              </div>
              <div class="order-contacts__el">
                <h3>Телефон для связи</h3>
                <p>8 (933) 767-15-16</p>
              </div>
            </div>
            <p>Чтобы отменить заказ, изменить его состав или ваши контактные данные, свяжитесь с нами по телефону горячей линии<strong>8 800 500 63 40</strong></p>
          </div>
          <div class="account-current">
            <table class="styled-caption">
              <tr>
                <th class="strong">№164000, оформлен 30 августа 2015</th>
                <th class="italic right delivered"><img src="/static/img/icon--ok.png" alt>доставлен</th>
              </tr>
              <tr>
                <td>Кресло парикмахерское CHIOCIOLA UP, 1 шт</td>
                <td class="right"><strong>59 900</strong> баллов
                </td>
              </tr>
            </table>
            <div class="cart-total-block">
              <p class="cart-total"><strong>58 800</strong> баллов
              </p>
            </div>
          </div>
        </section>
      </div>
      <script type="text/javascript">$(function(){$.pixlayout({src: "/static/img/temp/orders.jpg", opacity: 0.5, top: -90, left: -177, center: false, clip: true, show: false }) })</script>
      <div class="psevdofooter"></div>
    </div>
    <footer class="footer">
      <div class="width-wrap">
        <div class="footer-banner"><span class="footer-banner-title">Всегда вместе.<i>Страсть к профессии</i></span><a href=""><img src="/static/img/img--banner-1.png" alt></a><a href=""><img src="/static/img/img--banner-2.png" alt></a><a href=""><img src="/static/img/img--banner-3.png" alt></a></div>
        <div class="footer-info"><a class="footer-info-made"><span>сделано в</span><img src="/static/img/logo-promo.png" alt></a><span class="footer-info-copyright">© 2015 Schwarzkopf Professional</span></div>
      </div>
    </footer>
  </body>
</html>

static/source/jade/html/pages/pageCart/pageOrder.jade
block vars
    - var title='Title'

extends ../../partials/layout
block content

    .grid.width-wrap.bg-aside

        include ../../partials/aside

        section.three-fourth.grid-item.page-content.margin-left.orders

            h1 Заказы

            .account-current

                table.styled-caption
                    tr
                        th.strong №164000, оформлен 30 августа 2015
                        th.italic.right доставка займет от 4 до 10 недель
                    tr
                        td Кресло парикмахерское CHIOCIOLA UP, 1 шт
                        td.right
                            strong 59 900
                            = " баллов"
                    tr
                        td Кресло парикмахерское МОНА, 2 шт
                        td.right
                            strong 11 000
                            = " баллов"
                    tr
                        td Мини-выпрямитель для волос HAIRWAY Ceramic Ruby Iron, 1 шт
                        td.right
                            strong 2 100
                            = " баллов"
                    tr
                        td Машинка для стрижки волос Hairway Ultra Pro, 1 шт
                        td.right
                            strong 2 370
                            = " баллов"

                .cart-total-block
                    p.cart-total
                        strong 58 800
                        = " баллов"

                .order-contacts
                    .order-contacts__el
                        h3 Адрес доставки
                        p Москва, ул.Большая Татарская д.7, корп.2
                    .order-contacts__el
                        h3 Телефон для связи
                        p 8 (933) 767-15-16

                p Чтобы отменить заказ, изменить его состав или ваши контактные данные, свяжитесь с нами по телефону горячей линии
                    strong 8 800 500 63 40

            .account-current
                table.styled-caption
                    tr
                        th.strong №164000, оформлен 30 августа 2015
                        th.italic.right.delivered
                            img(src="/static/img/icon--ok.png" alt)
                            | доставлен
                    tr
                        td Кресло парикмахерское CHIOCIOLA UP, 1 шт
                        td.right
                            strong 59 900
                            = " баллов"

                .cart-total-block
                    p.cart-total
                        strong 58 800
                        = " баллов"

    script(type="text/javascript") $(function(){$.pixlayout({src: "/static/img/temp/orders.jpg", opacity: 0.5, top: -90, left: -177, center: false, clip: true, show: false }) })
