static/source/jade/html/pages/pageCart/pageCart.jade
block vars
    - var title='Title'

extends ../../partials/layout
block content

    .grid.width-wrap.bg-aside

        include ../../partials/aside

        section.three-fourth.grid-item.page-content.margin-left.cart

            h1 Корзина

            form(action="" method="post").cart-full
                ul(data-url-chahge="/static/js/ajax/add-cart-item.php" data-url-remove="/static/js/ajax/remove-cart-item.php" data-method="post").cart-list
                    li.cart-list__el.grid.no-item
                        .cart-list__el-img.grid-item
                            img(src = "/static/img/img--cart-1.jpg" alt)
                        .cart-list__el-content.grid-item
                            a(href = "") Кресло парикмахерское CHIOCIOLA UP
                            span цвет: белый
                        .cart-list__el-amount.grid-item
                            input(type="hidden" name="item_id" value="id_001").cart-item-id
                            input(type="text" name="item_amount" value="1" maxlength="3").cart-item-amount-input.js--input-number
                            span.add-amount.js--add-amount-cart.js--item-change-cart
                            span.remove-amount.js--remove-amount-cart.js--item-change-cart
                        .cart-list__el-empty.grid-item
                            span Временно нет на складе
                            a(href="").js--cart-remove удалить
                        .cart-list__el-total.grid-item
                            p
                                strong 57 970
                                | баллов
                        .cart-list__el-remove.grid-item
                            a(href = "").js--cart-remove

                    li.cart-list__el.grid
                        .cart-list__el-img.grid-item
                            img(src = "/static/img/img--cart-2.jpg" alt)
                        .cart-list__el-content.grid-item
                            a(href = "") Кресло парикмахерское CHIOCIOLA UP
                            span цвет: белый
                        .cart-list__el-amount.grid-item
                            input(type="hidden" name="item_id" value="id_002").cart-item-id
                            input(type="text" name="item_amount" value="2" maxlength="3").cart-item-amount-input.js--input-number
                            span.add-amount.js--add-amount-cart.js--item-change-cart
                            span.remove-amount.js--remove-amount-cart.js--item-change-cart
                        .cart-list__el-empty.grid-item
                            span Временно нет на складе
                            a(href="").js--cart-remove удалить
                        .cart-list__el-total.grid-item
                            p
                                strong 57 970
                                | баллов
                        .cart-list__el-remove.grid-item
                            a(href = "").js--cart-remove

                    li.cart-list__el.grid
                        .cart-list__el-img.grid-item
                            img(src = "/static/img/img--cart-3.jpg" alt)
                        .cart-list__el-content.grid-item
                            a(href = "") Кресло парикмахерское CHIOCIOLA UP
                            span цвет: белый
                        .cart-list__el-amount.grid-item
                            input(type="hidden" name="item_id" value="id_003").cart-item-id
                            input(type="text" name="item_amount" value="3" maxlength="3").cart-item-amount-input.js--input-number
                            span.add-amount.js--add-amount-cart.js--item-change-cart
                            span.remove-amount.js--remove-amount-cart.js--item-change-cart
                        .cart-list__el-empty.grid-item
                            span Временно нет на складе
                            a(href="").js--cart-remove удалить
                        .cart-list__el-total.grid-item
                            p
                                strong 57 970
                                | баллов
                        .cart-list__el-remove.grid-item
                            a(href = "").js--cart-remove

                    li.cart-list__el.grid
                        .cart-list__el-img.grid-item
                            img(src = "/static/img/img--cart-4.jpg" alt)
                        .cart-list__el-content.grid-item
                            a(href = "") Кресло парикмахерское CHIOCIOLA UP
                            span цвет: белый
                        .cart-list__el-amount.grid-item
                            input(type="hidden" name="item_id" value="id_004").cart-item-id
                            input(type="text" name="item_amount" value="4" maxlength="3").cart-item-amount-input.js--input-number
                            span.add-amount.js--add-amount-cart.js--item-change-cart
                            span.remove-amount.js--remove-amount-cart.js--item-change-cart
                        .cart-list__el-empty.grid-item
                            span Временно нет на складе
                            a(href="").js--cart-remove удалить
                        .cart-list__el-total.grid-item
                            p
                                strong 57 970
                                | баллов
                        .cart-list__el-remove.grid-item
                            a(href = "").js--cart-remove
                .cart-total-block
                    p.cart-total
                        strong 58 800
                        | баллов
                    input(type="submit" value="оформить заказ").btn
                    .cart-disable
                        p На вашем счету 20 000 баллов.
                        p
                            a Взять недостающие
                                i.not-enought 38 800
                                | баллов в кредит
                            | и оформить заказ сейчас.
                        p Сумма кредита спишется автоматически по итогам следующего квартала.
                            a Узнать больше.

            .cart-empty.hidden-block
                p Ваша корзина пуста. Перейдите в
                    a каталог
                    | чтобы совершить покупку.

    script(type="text/javascript") $(function(){$.pixlayout({src: "/static/img/temp/cart.jpg", opacity: 0.5, top: -73, left: -177, center: false, clip: true, show: false }) })

static/html/pages/pageCart/pageCart.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <script src="/static/js/app-common.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/jquery.pixlayout.0.9.6.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header">
        <div class="width-wrap justifyed">
          <div class="header-logo"><a href=""><img src="/static/img/logo-ph.png" alt class="header-logo-hp"></a><img src="/static/img/logo-sch.png" alt class="header-logo-sch"></div><a href="tel:88005006340" class="header-phone">+7 800 500 63 40</a><span class="header-adress">Москва, Колокольников пер., 11</span><a href="" class="header-download main-nav__el-pdf">Ознакомиться с каталогом продукции</a>
        </div>
      </header>
      <div class="grid width-wrap bg-aside">
        <aside class="grid-item one-fourth aside"><span class="aside-lk">Личный кабинет</span>
          <div class="aside-status"><span>Салон красоты "Афродита"</span><img src="/static/img/icon--status-slv.png" alt></div>
          <div class="aside-links">
            <div><a href="#">Редактировать профиль</a></div>
            <div><a href="#">Выйти</a></div>
          </div>
          <div class="aside-bill"><span class="aside-bill-title">Мой счет</span>
            <div class="aside-bill--point"><span class="aside-bill--point-value"><strong>5 206</strong>баллов</span><a href="">Взять баллы в кредит</a></div>
            <div class="aside-bill--rub"><span class="aside-bill--rub-value"><strong>124 600</strong>руб.</span><a href="">Закупки в этом квартале</a></div>
          </div>
          <ul class="aside-nav">
            <li class="aside-nav__el current"><a href="">Каталог</a></li>
            <li class="aside-nav__el aside-nav__el-basket"><a href="">Корзина<span>23</span></a></li>
            <li class="aside-nav__el"><a href="">Заказы</a></li>
            <li class="aside-nav__el"><a href="">Новости<span>1</span></a></li>
            <li class="aside-nav__el"><a href="">Условия программы</a></li>
          </ul>
        </aside>
        <section class="three-fourth grid-item page-content margin-left cart">
          <h1>Корзина</h1>
          <form action="" method="post" class="cart-full">
            <ul data-url-chahge="/static/js/ajax/add-cart-item.php" data-url-remove="/static/js/ajax/remove-cart-item.php" data-method="post" class="cart-list">
              <li class="cart-list__el grid no-item">
                <div class="cart-list__el-img grid-item"><img src="/static/img/img--cart-1.jpg" alt></div>
                <div class="cart-list__el-content grid-item"><a href="">Кресло парикмахерское CHIOCIOLA UP</a><span>цвет: белый</span></div>
                <div class="cart-list__el-amount grid-item">
                  <input type="hidden" name="item_id" value="id_001" class="cart-item-id">
                  <input type="text" name="item_amount" value="1" maxlength="3" class="cart-item-amount-input js--input-number"><span class="add-amount js--add-amount-cart js--item-change-cart"></span><span class="remove-amount js--remove-amount-cart js--item-change-cart"></span>
                </div>
                <div class="cart-list__el-empty grid-item"><span>Временно нет на складе</span><a href="" class="js--cart-remove">удалить</a></div>
                <div class="cart-list__el-total grid-item">
                  <p><strong>57 970</strong>баллов</p>
                </div>
                <div class="cart-list__el-remove grid-item"><a href="" class="js--cart-remove"></a></div>
              </li>
              <li class="cart-list__el grid">
                <div class="cart-list__el-img grid-item"><img src="/static/img/img--cart-2.jpg" alt></div>
                <div class="cart-list__el-content grid-item"><a href="">Кресло парикмахерское CHIOCIOLA UP</a><span>цвет: белый</span></div>
                <div class="cart-list__el-amount grid-item">
                  <input type="hidden" name="item_id" value="id_002" class="cart-item-id">
                  <input type="text" name="item_amount" value="2" maxlength="3" class="cart-item-amount-input js--input-number"><span class="add-amount js--add-amount-cart js--item-change-cart"></span><span class="remove-amount js--remove-amount-cart js--item-change-cart"></span>
                </div>
                <div class="cart-list__el-empty grid-item"><span>Временно нет на складе</span><a href="" class="js--cart-remove">удалить</a></div>
                <div class="cart-list__el-total grid-item">
                  <p><strong>57 970</strong>баллов</p>
                </div>
                <div class="cart-list__el-remove grid-item"><a href="" class="js--cart-remove"></a></div>
              </li>
              <li class="cart-list__el grid">
                <div class="cart-list__el-img grid-item"><img src="/static/img/img--cart-3.jpg" alt></div>
                <div class="cart-list__el-content grid-item"><a href="">Кресло парикмахерское CHIOCIOLA UP</a><span>цвет: белый</span></div>
                <div class="cart-list__el-amount grid-item">
                  <input type="hidden" name="item_id" value="id_003" class="cart-item-id">
                  <input type="text" name="item_amount" value="3" maxlength="3" class="cart-item-amount-input js--input-number"><span class="add-amount js--add-amount-cart js--item-change-cart"></span><span class="remove-amount js--remove-amount-cart js--item-change-cart"></span>
                </div>
                <div class="cart-list__el-empty grid-item"><span>Временно нет на складе</span><a href="" class="js--cart-remove">удалить</a></div>
                <div class="cart-list__el-total grid-item">
                  <p><strong>57 970</strong>баллов</p>
                </div>
                <div class="cart-list__el-remove grid-item"><a href="" class="js--cart-remove"></a></div>
              </li>
              <li class="cart-list__el grid">
                <div class="cart-list__el-img grid-item"><img src="/static/img/img--cart-4.jpg" alt></div>
                <div class="cart-list__el-content grid-item"><a href="">Кресло парикмахерское CHIOCIOLA UP</a><span>цвет: белый</span></div>
                <div class="cart-list__el-amount grid-item">
                  <input type="hidden" name="item_id" value="id_004" class="cart-item-id">
                  <input type="text" name="item_amount" value="4" maxlength="3" class="cart-item-amount-input js--input-number"><span class="add-amount js--add-amount-cart js--item-change-cart"></span><span class="remove-amount js--remove-amount-cart js--item-change-cart"></span>
                </div>
                <div class="cart-list__el-empty grid-item"><span>Временно нет на складе</span><a href="" class="js--cart-remove">удалить</a></div>
                <div class="cart-list__el-total grid-item">
                  <p><strong>57 970</strong>баллов</p>
                </div>
                <div class="cart-list__el-remove grid-item"><a href="" class="js--cart-remove"></a></div>
              </li>
            </ul>
            <div class="cart-total-block">
              <p class="cart-total"><strong>58 800</strong>баллов</p>
              <input type="submit" value="оформить заказ" class="btn">
              <div class="cart-disable">
                <p>На вашем счету 20 000 баллов.</p>
                <p><a>Взять недостающие<i class="not-enought">38 800</i>баллов в кредит</a>и оформить заказ сейчас.</p>
                <p>Сумма кредита спишется автоматически по итогам следующего квартала.<a>Узнать больше.</a></p>
              </div>
            </div>
          </form>
          <div class="cart-empty hidden-block">
            <p>Ваша корзина пуста. Перейдите в<a>каталог</a>чтобы совершить покупку.</p>
          </div>
        </section>
      </div>
      <script type="text/javascript">$(function(){$.pixlayout({src: "/static/img/temp/cart.jpg", opacity: 0.5, top: -73, left: -177, center: false, clip: true, show: false }) })</script>
      <div class="psevdofooter"></div>
    </div>
    <footer class="footer">
      <div class="width-wrap">
        <div class="footer-banner"><span class="footer-banner-title">Всегда вместе.<i>Страсть к профессии</i></span><a href=""><img src="/static/img/img--banner-1.png" alt></a><a href=""><img src="/static/img/img--banner-2.png" alt></a><a href=""><img src="/static/img/img--banner-3.png" alt></a></div>
        <div class="footer-info"><a class="footer-info-made"><span>сделано в</span><img src="/static/img/logo-promo.png" alt></a><span class="footer-info-copyright">© 2015 Schwarzkopf Professional</span></div>
      </div>
    </footer>
  </body>
</html>
