static/html/pages/pageCart/pageCart-order.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <script src="/static/js/app-common.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/jquery.pixlayout.0.9.6.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header class="header">
        <div class="width-wrap justifyed">
          <div class="header-logo"><a href=""><img src="/static/img/logo-ph.png" alt class="header-logo-hp"></a><img src="/static/img/logo-sch.png" alt class="header-logo-sch"></div><a href="tel:88005006340" class="header-phone">+7 800 500 63 40</a><span class="header-adress">Москва, Колокольников пер., 11</span><a href="" class="header-download main-nav__el-pdf">Ознакомиться с каталогом продукции</a>
        </div>
      </header>
      <div class="grid width-wrap bg-aside">
        <aside class="grid-item one-fourth aside"><span class="aside-lk">Личный кабинет</span>
          <div class="aside-status"><span>Салон красоты "Афродита"</span><img src="/static/img/icon--status-slv.png" alt></div>
          <div class="aside-links">
            <div><a href="#">Редактировать профиль</a></div>
            <div><a href="#">Выйти</a></div>
          </div>
          <div class="aside-bill"><span class="aside-bill-title">Мой счет</span>
            <div class="aside-bill--point"><span class="aside-bill--point-value"><strong>5 206</strong>баллов</span><a href="">Взять баллы в кредит</a></div>
            <div class="aside-bill--rub"><span class="aside-bill--rub-value"><strong>124 600</strong>руб.</span><a href="">Закупки в этом квартале</a></div>
          </div>
          <ul class="aside-nav">
            <li class="aside-nav__el current"><a href="">Каталог</a></li>
            <li class="aside-nav__el aside-nav__el-basket"><a href="">Корзина<span>23</span></a></li>
            <li class="aside-nav__el"><a href="">Заказы</a></li>
            <li class="aside-nav__el"><a href="">Новости<span>1</span></a></li>
            <li class="aside-nav__el"><a href="">Условия программы</a></li>
          </ul>
        </aside>
        <section class="three-fourth grid-item page-content margin-left account"><a class="breadcrumbs btn">Корзина</a>
          <h1>Оформить заказ</h1>
          <div class="account-current accoutn-orders">
            <table class="empty-caption">
              <tr>
                <th></th>
                <th></th>
              </tr>
              <tr>
                <td>Кресло парикмахерское CHIOCIOLA UP, 1 штМашинка для стрижки волос Hairway Ultra Pro, 1 шт Машинка для стрижки волос Hairway Ultra Pro, 1 шт Машинка для стрижки волос Hairway Ultra Pro, 1 шт</td>
                <td class="right"><strong>59 900</strong> баллов
                </td>
              </tr>
              <tr>
                <td>Кресло парикмахерское МОНА, 2 шт Машинка для стрижки волос Hairway Ultra Pro, 1 шт Машинка для стрижки волос Hairway Ultra Pro, 1 шт</td>
                <td class="right"><strong>11 000</strong> баллов
                </td>
              </tr>
              <tr>
                <td>Мини-выпрямитель для волос HAIRWAY Ceramic Ruby Iron, 1 шт Машинка для стрижки волос Hairway Ultra Pro, 1 шт</td>
                <td class="right"><strong>2 100</strong> баллов
                </td>
              </tr>
              <tr>
                <td>Машинка для стрижки волос Hairway Ultra Pro, 1 шт Машинка для стрижки волос Hairway Ultra Pro, 1 шт Машинка для стрижки волос Hairway Ultra Pro, 1 шт</td>
                <td class="right"><strong>2 370</strong> баллов
                </td>
              </tr>
            </table>
            <div class="cart-total-block">
              <p class="cart-total"><strong>58 800</strong> баллов
              </p>
            </div>
            <form action="" method="" class="order-form">
              <label>
                <h2>Адрес доставки</h2>
                <input type="text" name="adress" required class="inp">
              </label>
              <label>
                <h2>Телефон для связи</h2>
                <input type="text" name="phone" required class="inp input-phone">
              </label>
              <h2><strong>Важно знать</strong></h2>
              <p>На&nbsp;доставку подарков может потребоваться от&nbsp;4&nbsp;до&nbsp;10&nbsp;недель с&nbsp;момента получения заявки.</p>
              <p>В&nbsp;случае невозможности предоставить тот или иной выбранный вами подарок, Schwarzkopf Professional с&nbsp;вашего согласия заменит подарок на&nbsp;равноценный или вернет баллы на&nbsp;ваш счет.</p>
              <div class="submit">
                <input type="submit" value="Все верно, отправить заявку" class="btn">
              </div>
            </form>
          </div>
        </section>
      </div>
      <script type="text/javascript">$(function(){$.pixlayout({src: "/static/img/temp/cart_order.jpg", opacity: 0.5, top: -43, left: -177, center: false, clip: true, show: false }) })</script>
      <div class="psevdofooter"></div>
    </div>
    <footer class="footer">
      <div class="width-wrap">
        <div class="footer-banner"><span class="footer-banner-title">Всегда вместе.<i>Страсть к профессии</i></span><a href=""><img src="/static/img/img--banner-1.png" alt></a><a href=""><img src="/static/img/img--banner-2.png" alt></a><a href=""><img src="/static/img/img--banner-3.png" alt></a></div>
        <div class="footer-info"><a class="footer-info-made"><span>сделано в</span><img src="/static/img/logo-promo.png" alt></a><span class="footer-info-copyright">© 2015 Schwarzkopf Professional</span></div>
      </div>
    </footer>
  </body>
</html>

static/source/jade/html/pages/pageCart/pageCart-order.jade
block vars
    - var title='Title'

extends ../../partials/layout
block content

    .grid.width-wrap.bg-aside

        include ../../partials/aside

        section.three-fourth.grid-item.page-content.margin-left.account

            a.breadcrumbs.btn Корзина

            h1 Оформить заказ

            .account-current.accoutn-orders

                table.empty-caption
                    tr
                        th
                        th
                    tr
                        td Кресло парикмахерское CHIOCIOLA UP, 1 штМашинка для стрижки волос Hairway Ultra Pro, 1 шт Машинка для стрижки волос Hairway Ultra Pro, 1 шт Машинка для стрижки волос Hairway Ultra Pro, 1 шт
                        td.right
                            strong 59 900
                            = " баллов"
                    tr
                        td Кресло парикмахерское МОНА, 2 шт Машинка для стрижки волос Hairway Ultra Pro, 1 шт Машинка для стрижки волос Hairway Ultra Pro, 1 шт
                        td.right
                            strong 11 000
                            = " баллов"
                    tr
                        td Мини-выпрямитель для волос HAIRWAY Ceramic Ruby Iron, 1 шт Машинка для стрижки волос Hairway Ultra Pro, 1 шт
                        td.right
                            strong 2 100
                            = " баллов"
                    tr
                        td Машинка для стрижки волос Hairway Ultra Pro, 1 шт Машинка для стрижки волос Hairway Ultra Pro, 1 шт Машинка для стрижки волос Hairway Ultra Pro, 1 шт
                        td.right
                            strong 2 370
                            = " баллов"

                .cart-total-block
                    p.cart-total
                        strong 58 800
                        = " баллов"

                form(action="" method="").order-form

                    label
                        h2 Адрес доставки
                        input(type="text" name="adress" required).inp

                    label
                        h2 Телефон для связи
                        input(type="text" name="phone" required).inp.input-phone

                    h2
                        strong Важно знать

                    p На&nbsp;доставку подарков может потребоваться от&nbsp;4&nbsp;до&nbsp;10&nbsp;недель с&nbsp;момента получения заявки.

                    p В&nbsp;случае невозможности предоставить тот или иной выбранный вами подарок, Schwarzkopf Professional с&nbsp;вашего согласия заменит подарок на&nbsp;равноценный или вернет баллы на&nbsp;ваш счет.

                    .submit
                        input(type="submit" value="Все верно, отправить заявку").btn

    script(type="text/javascript") $(function(){$.pixlayout({src: "/static/img/temp/cart_order.jpg", opacity: 0.5, top: -43, left: -177, center: false, clip: true, show: false }) })
