static/html/index.html

<html ng-app="app">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>DEV</title>
    <!--choose theme http://www.bootstrapcdn.com/#bootswatch_tab-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/lumen/bootstrap.min.css"/>
    <script src="/static/vendor/jquery/jquery.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Верстка по макетам</h1>
      </div>
      <div class="list-group">
        <div class="list-group-item active">Страницы</div><a href="/static/html/pages/pageCatalog/pageCatalog_main.html" class="list-group-item">
          <h4>Catalogue_main</h4></a><a href="/static/html/pages/pageCatalog/pageCatalog_category.html" class="list-group-item">
          <h4>Catalogue_category</h4></a><a href="/static/html/pages/pageCatalog/pageCatalog_card.html" class="list-group-item">
          <h4>Catalogue_card</h4></a><a href="/static/html/pages/pageNews/pageNews.html" class="list-group-item">
          <h4>News</h4></a><a href="/static/html/pages/pageNews/pageNews-item.html" class="list-group-item">
          <h4>News-item</h4></a><a href="/static/html/pages/pageConditions/pageConditions.html" class="list-group-item">
          <h4>Conditions</h4></a><a href="/static/html/pages/pageCredit/pageCredit-text.html" class="list-group-item">
          <h4>Credit-text</h4></a><a href="/static/html/pages/pageCredit/pageCredit.html" class="list-group-item">
          <h4>Credit</h4></a><a href="/static/html/pages/pageCredit/pageCredit-send.html" class="list-group-item">
          <h4>Credit после отправки запроса</h4></a><a href="/static/html/pages/pageAccount/pageAccount.html" class="list-group-item">
          <h4>Account</h4></a><a href="/static/html/pages/pageCart/pageCart.html" class="list-group-item">
          <h4>Cart</h4></a><a href="/static/html/pages/pageCart/pageCart-order.html" class="list-group-item">
          <h4>Cart-order</h4></a><a href="/static/html/pages/pageCart/pageOrder.html" class="list-group-item">
          <h4>Order</h4></a><a href="/static/html/pages/pageIndex/pageIndex.html" class="list-group-item">
          <h4>Index</h4></a>
      </div>
    </div>
  </body>
</html>

static/source/jade/html/index.jade
block vars
    - var title='DEV'

extends partials/layout_bootstrap

block content

    .container

        .page-header
            h1 Верстка по макетам

        .list-group

            .list-group-item.active Страницы
            a.list-group-item(href="/static/html/pages/pageCatalog/pageCatalog_main.html")
                h4 Catalogue_main
            a.list-group-item(href="/static/html/pages/pageCatalog/pageCatalog_category.html")
                h4 Catalogue_category
            a.list-group-item(href="/static/html/pages/pageCatalog/pageCatalog_card.html")
                h4 Catalogue_card
            a.list-group-item(href="/static/html/pages/pageNews/pageNews.html")
                h4 News
            a.list-group-item(href="/static/html/pages/pageNews/pageNews-item.html")
                h4 News-item
            a.list-group-item(href="/static/html/pages/pageConditions/pageConditions.html")
                h4 Conditions
            a.list-group-item(href="/static/html/pages/pageCredit/pageCredit-text.html")
                h4 Credit-text
            a.list-group-item(href="/static/html/pages/pageCredit/pageCredit.html")
                h4 Credit
            a.list-group-item(href="/static/html/pages/pageCredit/pageCredit-send.html")
                h4 Credit после отправки запроса
            a.list-group-item(href="/static/html/pages/pageAccount/pageAccount.html")
                h4 Account
            a.list-group-item(href="/static/html/pages/pageCart/pageCart.html")
                h4 Cart
            a.list-group-item(href="/static/html/pages/pageCart/pageCart-order.html")
                h4 Cart-order
            a.list-group-item(href="/static/html/pages/pageCart/pageOrder.html")
                h4 Order
            a.list-group-item(href="/static/html/pages/pageIndex/pageIndex.html")
                h4 Index
